// :host ::ng-deep mat-tab-group > div > mat-tab-body {
//   margin-left: 18px;
// }
:host ::ng-deep .col-2 {
  flex: 0 0 15%;
  max-width: 15%;
}

:host ::ng-deep p-dropdown > div {
  width: 150px;
  .p-dropdown-trigger {
    justify-content: flex-end;
    .p-dropdown-trigger-icon{
      font-size: 10px;
      color: black;
      font-weight: 800;
    }

  }

  .p-dropdown-panel {
    .p-dropdown-items-wrapper > .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
      color: white;
      background: #1279df;
    }
}
}

:host .modal-footer{
  padding: 0px 24px 16px 24px !important;
}

.menu-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px
}
::ng-deep .mat-tab-label {
  font-size: 1.1rem;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th{
  text-align: center !important;
}

:host ::ng-deep form#formContato{
  padding: 0px 24px 24px 24px !important;

  div > div {

    p-table{
      color: red;
    }
  }
}

.modal-header#contatosRepresentates{
  padding: 24px 24px 24px 24px !important; 
}

:host ::ng-deep mat-tab-group > mat-tab-header{
  margin: 24px 24px 0px 24px;
}

:host ::ng-deep .mat-tab-group > div {

  mat-tab-body .mat-tab-body-content {
      overflow: hidden !important;
  }
}

:host .modal-header{
  padding: 5px 24px 0px 24px !important;
}

::ng-deep .modal-dialog-custom-redirect-width .modal-dialog {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  max-width: none !important;
}

::ng-deep .modal-dialog-custom-redirect-width .modal-content {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: rgba(22, 22, 22, 0.5);
}

::ng-deep .mat-tab-label-active {
  background: linear-gradient(0deg, #137d9a 0%, #009a53 100%);
  color: #fff;
}

::ng-deep .subtab {
  background: linear-gradient(to left, #059266, #009a54) !important;
  color: #fff;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ffa500;
}

.tab-wrapper{
  position: relative;
  width: 100%;
  padding: 0;

  button{
    padding: 0;
  }
}

.btn-fechar{
  position: absolute;
  top:8px;
  right:8px;
  z-index: 10;
}

.add-contato{
  position: relative;
  width: 100%;
}
.icon-contato{
  position: absolute;
  top: 32px;
  right: 45px;
  z-index: 10;
}
label {
  margin-bottom: 0px !important;
}

::ng-deep .custom-class .modal-dialog {
  position: relative;
  top: 5%;
}

::ng-deep .modal-lg {
  max-width: 1050px !important;
}

.is-invalid {
  border: 1px solid red !important;
}
.min-height-59 {
  min-height: 59px;
}
.div-rubricas {
  padding: 2px;
}

p.small-text {
  position: fixed;
  font-size: 12px;
}

h5.modal-title {
  margin: 12px 0px;
}

.modal-buttons button {
  border: 1px solid #000;
  cursor: pointer;
  width: 120px;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
  margin-right: 2px;
}
.modal-buttons {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.selected {
  background-color: #e0e0e0; /* cinza claro */
  color: black;
}

.unselected {
  background-color: white;
  color: gray;
}

.tab-content {
  margin-top: 20px;
}
