:host ::ng-deep .p-dropdown {
    width: 100%;
  }

  :host ::ng-deep .p-dropdown-panel {
    width: 100%;
  }

  .informacoes {
    margin-top: 170px;
  }

  .title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .body-text {
    margin-bottom: 10px;
    font-size: 15px;
  }