label {
    margin-bottom: 0px !important;
}

::ng-deep .custom-class .modal-dialog {
    position: relative;
    top: 5%;
}

::ng-deep  .modal-lg {
    max-width: 1280px !important;
}

.is-invalid{
    border: 1px solid red !important;
}
.min-height-59{
    min-height: 59px;
}
.div-rubricas{
    padding: 2px;
}
.label-classif-digital{
    margin-left: -5px;
    margin-right: 10px;
    font-family: 'Poppins';
}

.p-datatable-customers{
    font-size: 11px !important;
}