<div class="content">
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-3" style="z-index: 5;margin-top: -85px;">

    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row mr-1 cl-consumo">
    <div class="col-md-9">
      <button type="button" class="btn-sm btn-secondary no-print" routerLink="/contrato/detalhe/v/{{nuContrato}}"
        mat-raised-button> Detalhar
      </button>
      <button type="button" class="btn-sm btn-secondary no-print" *ngIf="!isRotaAtas"
        routerLink="/contrato/exec-orc-mensalizacao/{{nuContrato}}" mat-raised-button> Mensalização
      </button>
      <button type="button" class="btn-sm btn-secondary no-print" *ngIf="!isRotaAtas" (click)="linkContrato()"
        mat-raised-button>
        Documentação
      </button>
      <button type="button" class="btn-sm btn-secondary no-print" *ngIf="!isRotaAtas"
        (click)="openModalSimulacao(nuContrato)" mat-raised-button> Simular Revisão
      </button>
      <label class="title-ata" *ngIf="isRotaAtas">Este instrumento é uma Ata de Registro de Preços (ARP).</label>
    </div>
  </div>
  <div id="area-pdf">
    <mat-tab-group mat-align-tabs="left" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="{{montaTituloVigenciaAtual()}}" *ngIf="!loading && vigenciaAtual">
        <app-demais-tipos [vigenciaAtual]="vigenciaAtual"
          (abaSelecionada)="receberAbaAtivaVigenciaAtual($event)" [contrato]="this.contrato"></app-demais-tipos>
      </mat-tab>

      <mat-tab label="OUTRAS VIGÊNCIAS" *ngIf="!loading && vigenciaAnterior">
        <app-demais-tipos [vigenciaAnterior]="vigenciaAnterior" [vigenciaAnteriorSelect]="vigenciaAnteriorSelect"
          (abaSelecionada)="receberAbaAtiva($event)"></app-demais-tipos>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="vigenciasAnteriores?.length > 0 && showSelect" class="section-select">
      <select class="form-control" [(ngModel)]="vigenciaAnteriorSelect" id="nuFilial">
        <option value="" disabled selected>Selecione a vigência</option>
        <option *ngFor="let a of vigenciasAnteriores" [ngValue]="a">
          {{a.labeL_VIGENCIA}}
        </option>
      </select>
    </div>
  </div>

</div>
