<div class="content">

  <div class="card" style="width: 102%; margin-left: -2%;">
    <mat-tab-group>
      <mat-tab label="Planejamento Orçamentário" class="subtab">
        <p-table #dt [value]="gcpvw049ResumoPlanejamento"
          tyleClass="p-datatable-customers" [rowHover]="true" sortMode="single">
          <ng-template pTemplate="header">
            <tr class="bordered-orange">
              <th rowspan="2" class="header-extra" style="text-align: center; vertical-align: middle;">Exercício</th>
              <th rowspan="2" class="header-extra" style="text-align: center; vertical-align: middle;">Status</th>
              <th colspan="3" class="header-extra">CAPEX</th>
              <th colspan="3" class="header-extra">OPEX</th>
            </tr>
            <tr class="bordered-orange">
              <th>Planejado</th>
              <th>Executado</th>
              <th pTooltip="Percentual da Execução do Planejamento" tooltipPosition="top">%ExL</th>
              <th>Planejado</th>
              <th>Executado</th>
              <th pTooltip="Percentual da Execução do Planejamento" tooltipPosition="top">%ExL</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td class="text-centered" style="cursor: pointer; color: cornflowerblue;"><a (click)="openModalPlanejamento(item.coExercicio)">
                {{item.coExercicio}}</a>
              </td>
              <td class="text-centered">
                {{item.statusPlanejamento}}
              </td>
              <td  class="text-centered">
                {{item.capexPlanejado | currency : 'BRL'}}
              </td>
              <td class="text-centered">
                {{item.capexExecutado | currency : 'BRL'}}
              </td>
              <td class="text-centered">
                {{item.percCapex}}
              </td>
              <td class="text-centered">
                {{item.opexPlanejado | currency : 'BRL'}}
              </td>
              <td class="text-centered">
                {{item.opexExecutado | currency : 'BRL'}}
              </td>
              <td class="text-centered">
                {{item.percOpex}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </mat-tab>
    </mat-tab-group>
    <div class="row">
      <div class="col-2" style="margin-top: 30px; align-items: center;">
        <button class="btn-sm btn-default" style="margin-left: 20px; margin-bottom: 20px;"
        (click)="novoExercicio()" *ngIf="perfil == 'Administrador' || perfil == 'Orçamento'">
          Novo Exercício
        </button>
      </div>
    </div>
  </div>
</div>
