.alert-class{
    border-bottom: 1px solid #dee2e6; 
    padding: 1rem;
}

.class-div-button{
    padding: 1rem; 
    border-top: 1px solid #dee2e6;
    gap: 1rem;
}

.message-style{
    font-size: 1rem; color: #212529;
}
.text-style{
    padding: 0.5rem;
    font-weight: 600;
}
.btn-danger {
    background: #414141 !important;
    background-image: linear-gradient(to bottom left, #414141, #414141, #414141) ;
    background-size: 210% 210%;
    background-position: top right;
    background-color: #414141  !important;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
}