<div class="content">
    <div class="row">
        <div class="col-12">
            <p-table #dt [value]="filteredPagamentosPendentes" dataKey="id"
                [globalFilterFields]="['nU_CONTRATO', 'cO_CONTRATO', 'nU_PEDIDO', 'dT_LANCAMENTO', 'cO_MATRICULA', 'montante', 'miro', 'nU_ATESTE', 'competencia', 'vR_BRUTO']"
                currentPageReportTemplate="{totalRecords} registro(s) encontrado(s)" [showCurrentPageReport]="true" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <div class="row">
                            <div class="col-md-7 table-header-title">Conciliação</div>
                            <div class="col-md-1 pl-1 pr-1 text-right">
                                <!-- *ngIf="isAllowedToExport" -->
                                <button type="button" class="btn-sm btn-secondary" (click)="exportExcel()"
                                    *ngIf="permissions?.Exportar ?? false">
                                    <i class="tim-icons icon-cloud-download-93"></i>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" #myInput (input)="filterItem(myInput.value)"
                                    id="pPesquisar" placeholder="Digite para pesquisar" />
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="cO_CONTRATO">Contrato <p-sortIcon field="cO_CONTRATO"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nU_PEDIDO">Pedido SAP<p-sortIcon field="nU_PEDIDO"></p-sortIcon></th>
                        <th pSortableColumn="dT_LANCAMENTO">DT. Lancamento <p-sortIcon
                                field="dT_LANCAMENTO"></p-sortIcon>
                        </th>
                        <th pSortableColumn="cO_MATRICULA">Matricula <p-sortIcon field="cO_MATRICULA"></p-sortIcon></th>
                        <th pSortableColumn="montante">Montante <p-sortIcon field="montante"></p-sortIcon></th>
                        <!--th pSortableColumn="miro">Miro <p-sortIcon field="miro"></p-sortIcon></th-->
                        <th pSortableColumn="nU_ATESTE">Ateste <p-sortIcon field="nU_ATESTE"></p-sortIcon></th>
                        <th pSortableColumn="competencia">Competência <p-sortIcon field="competencia"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pagamento let-rowIndex="rowIndex">
                    <tr class="p-selectable-row" (click)="openModalPendente(pagamento)" title="Clique para editar este contrato">
                        <td class="col-pagamentos">{{ pagamento.cO_CONTRATO }}</td>
                        <td class="col-pagamentos">{{ pagamento.nU_PEDIDO }}</td>
                        <td class="col-pagamentos">{{ pagamento.dT_LANCAMENTO | date: 'dd/MM/yyyy' }}</td>
                        <td class="col-pagamentos">{{ pagamento.cO_MATRICULA }}</td>
                        <td class="col-pagamentos">{{ pagamento.montante | currency : 'BRL' }}</td>
                        <!--td class="col-pagamentos">{{ pagamento.miro }}</td-->
                        <td class="col-pagamentos">{{ pagamento.nU_ATESTE }}</td>
                        <td class="col-pagamentos">{{ pagamento.competencia }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>