<div class="content">
  <div class="row">
    <div class="column-45 pr-1">
      <p-table
        #dt
        [value]="listaUsuarios"
        dataKey="id"
        styleClass="p-datatable-customers"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        [filterDelay]="0"
      >
        <ng-template pTemplate="caption">
          <div class="table-header">
            <div class="row">
              <div class="col-md-5 table-header-title">
                Usuários não autorizados
              </div>

              <!-- <div class="col-md-2 pl-1 pr-1">
                            <select class="form-control" id="pPerfis" name="pPerfis" [(ngModel)]="selectedPerfis" (ngModelChange)="onChangeSelect($event)">
                                <option value="null">Todos os Perfil</option>
                                 <option *ngFor="let a of listaPerfis;" [ngValue]="a.nuPerfil">{{ a.noPerfil }}</option> 
                            </select>
                        </div> -->
              <div class="col-md-7 pl-1">
                <input
                  type="text"
                  class="form-control"
                  id="pFiltro"
                  name="pFiltro"
                  (keyup.enter)="onChangeInput($event)"
                  placeholder="Digite e pressione enter para pesquisar..."
                />
                <!-- <select class="form-control" id="pContrato" name="pContrato" [(ngModel)]="selectedContrato" (ngModelChange)="updateRelatorio($event, 4)">
                                <option value="null">Todos os Contratos</option>
                                 <option *ngFor="let a of listaContratos;" [ngValue]="a.nuContrato">{{ a.coContrato }} - {{ a.noEmpresa }}</option> 
                            </select> -->
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10px"></th>
            <th>Usuário</th>
            <th>Nome</th>
            <!-- <th>Perfil</th> -->
            <!-- <th></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
          <tr class="p-selectable-row">
            <td>
              <input
                type="checkbox"
                name="ckbUsuarios"
                [value]="usuario.nuUsuario"
                (change)="onChangeUsuario($event)"
                *ngIf="permissions?.Alterar ?? false"
              />
            </td>
            <td>
              <span class="p-column-title">Usuário</span>
              {{ usuario.coMatricula }}
            </td>
            <td>
              <span class="p-column-title">Nome</span>
              {{ usuario.noUsuario }}
            </td>
            <!-- <td>
                        <span class="p-column-title">Perfil</span>
                        {{usuario.perfil?.noPerfil ?? '--'}}
                    </td> -->
            <!-- <td style="text-align: center; width: 50px;">
                        <i class="pi pi-ellipsis-v" title="clique para detalhar o contrato"></i>
                    </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="12">Nenhum registro encontrado.</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="paginator-content" *ngIf="quantidadeTotal > 0">
        <span class="pagination-text">
          <p>{{ quantidadeTotal }} registro(s) encontrado(s)</p>
        </span>

        <ngb-pagination
          *ngIf="quantidadeTotal > listaUsuarios.length"
          [collectionSize]="quantidadeTotal"
          [pageSize]="filtroRegistros.pageSize"
          [(page)]="filtroRegistros.pageNumber"
          (pageChange)="loadPage($event)"
          [maxSize]="4"
          [boundaryLinks]="true"
        >
        </ngb-pagination>
      </div>
    </div>
    <div class="column-10 vertical-center">
      <button
        type="button"
        class="btn-sm btn-secondary"
        (click)="Autorizar()"
        [disabled]="!arrayUsuarios.length"
        mat-raised-button
        matTooltip="selecione o(s) usuário(s) não autorizados para conceder o acesso."
        *ngIf="permissions?.Alterar ?? false"
      >
        <i class="tim-icons icon-double-right"></i></button
      >&nbsp;
      <!-- <button
        type="button"
        class="btn-sm btn-secondary"
        (click)="RemoverAcesso()"
        [disabled]="!arrayUsuariosAutorizados.length"
        mat-raised-button
        matTooltip="selecione o(s) usuário(s) autorizados para retirar o acesso."
      > -->
      <button
        type="button"
        class="btn-sm btn-secondary"
        (click)="atualizaPerfilUsuarios(false)"
        [disabled]="!arrayUsuariosAutorizados.length"
        mat-raised-button
        matTooltip="selecione o(s) usuário(s) autorizados para retirar o acesso."
        *ngIf="permissions?.Alterar ?? false"
      >
        <i class="tim-icons icon-double-left"></i>
      </button>
    </div>
    <div class="column-45 pl-1">
      <p-table
        #dt
        [value]="listaUsuariosAutorizados"
        dataKey="id"
        styleClass="p-datatable-customers"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        [loading]="loading"
        [filterDelay]="0"
      >
        <ng-template pTemplate="caption">
          <div class="table-header">
            <div class="row">
              <div class="col-md-5 table-header-title">
                Usuários autorizados
              </div>

              <!-- <div class="col-md-2 pl-1 pr-1">
                            <select class="form-control" id="pPerfis" name="pPerfis" [(ngModel)]="selectedPerfis" (ngModelChange)="onChangeSelect($event)">
                                <option value="null">Todos os Perfil</option>
                                 <option *ngFor="let a of listaPerfis;" [ngValue]="a.nuPerfil">{{ a.noPerfil }}</option> 
                            </select>
                        </div> -->
              <div class="col-md-7 pl-1">
                <input
                  type="text"
                  class="form-control"
                  id="pFiltro"
                  name="pFiltro"
                  (keyup.enter)="onChangeInputAutorizados($event)"
                  placeholder="Digite e pressione enter para pesquisar..."
                />
                <!-- <select class="form-control" id="pContrato" name="pContrato" [(ngModel)]="selectedContrato" (ngModelChange)="updateRelatorio($event, 4)">
                                <option value="null">Todos os Contratos</option>
                                 <option *ngFor="let a of listaContratos;" [ngValue]="a.nuContrato">{{ a.coContrato }} - {{ a.noEmpresa }}</option> 
                            </select> -->
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10px"></th>
            <th>Usuário</th>
            <th>Nome</th>
            <th>Perfil</th>
            <!-- <th></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
          <tr class="p-selectable-row">
            <td>
              <input
                type="checkbox"
                name="ckbUsuarios"
                [value]="usuario.nuUsuario"
                (change)="onChangeUsuarioAutorizados($event)"
                *ngIf="permissions?.Alterar ?? false"
              />
            </td>
            <td>
              <span class="p-column-title">Usuário</span>
              {{ usuario.coMatricula }}
            </td>
            <td>
              <span class="p-column-title">Nome</span>
              {{ usuario.noUsuario }}
            </td>
            <td>
              <span class="p-column-title">Perfil</span>
              {{ usuario.perfil?.noPerfil ?? "--" }}
            </td>
            <!-- <td style="text-align: center; width: 50px;">
                        <i class="pi pi-ellipsis-v" title="clique para detalhar o contrato"></i>
                    </td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="12">Nenhum registro encontrado.</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="paginator-content" *ngIf="quantidadeTotalAutorizados > 0">
        <span class="pagination-text">
          <p>{{ quantidadeTotalAutorizados }} registro(s) encontrado(s)</p>
        </span>

        <ngb-pagination
          *ngIf="quantidadeTotalAutorizados > listaUsuariosAutorizados.length"
          [collectionSize]="quantidadeTotalAutorizados"
          [pageSize]="filtroRegistrosAutorizados.pageSize"
          [(page)]="filtroRegistrosAutorizados.pageNumber"
          (pageChange)="loadPageAutorizados($event)"
          [maxSize]="4"
          [boundaryLinks]="true"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <!-- <div class="header-confirm-dialog"> -->
    <div>
      <div class="grid col-md-12">
        <h4>Perfil do(s) usuário(s)</h4>
        <p style="margin-bottom: 15px;">Selecione o Perfil desejado:</p>
      </div>
      <div class="row search-box">
        <!-- <p-dropdown
          [options]="listaSelecaoPerfis"
          [(ngModel)]="selectedPerfil"
          [filter]="true"
          optionLabel="label"
          optionValue="value"
          (onChange)="onSelectedPerfilChange($event)"
          [showClear]="true"
          placeholder="Selecione um Perfil"
        ></p-dropdown> -->
        <div *ngFor="let item of listaSelecaoPerfis" class="field-checkbox">
          <div class="position-radio-item">
            <p-radioButton
              [inputId]="item.value"
              name="item"
              [value]="item.value"
              [(ngModel)]="selectedPerfil"
            ></p-radioButton>
            <label class="position-radio-item-label" [for]="item.value">{{
              item.label
            }}</label>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Cancelar"
      class="p-button-outlined"
      style="border-color: #005CA9; color: #005CA9;"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Confirmar"
      style="background: #005CA9; border-color: #005CA9;"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
