
    <div [ngClass]="{'esconder' : visivel}" #conteudo class="col-md-12" style="font-size: 15px;">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title text-left">
              CONTRATO {{ContratoV2?.cO_CONTRATO}} - VISÃO GERAL DE EXECUÇÃO
            </h3>
              <h3>INFORMAÇÕES GERAIS</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-sm-6 text-right">Fornecedor:</div>
              <div class="col-md-9 col-sm-6"><b>{{ ContratoV2?.nO_FORNECEDOR }}</b></div>
  
              <div class="col-md-3 col-sm-6 text-right">CNPJ:</div>
              <div class="col-md-3 col-sm-6"><b>{{ ContratoV2?.cO_CNPJ }}</b></div>
  
              <div class="col-md-3 col-sm-6 text-right">Pagamento Artigo 81?</div>
              <div class="col-md-3 col-sm-6">
                <b>
                  {{ ContratoV2?.iC_ARTIGO_81 === true ? "Sim"
                  : ContratoV2?.iC_ARTIGO_81 === false ? "Não"
                  : "Não informado" }}
                </b>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-3 col-sm-6 text-right">Status:</div>
              <div class="col-md-3 col-sm-6"><b>{{ this.ContratoV2?.iC_ATIVO ? "Ativo" : "Encerrado" }}</b></div>
  
              <div class="col-md-3 col-sm-6 text-right">Unidade Demandante:</div>
              <div class="col-md-3 col-sm-6"><b>{{ this.ContratoV2?.filial }} - {{ this.ContratoV2?.sG_FILIAL }}</b></div>
            </div>
  
            <div class="row">
              <div class="col-md-3 col-sm-6 text-right">Data Início (1° vigência):</div>
              <div class="col-md-3 col-sm-6"><b>{{ this.ContratoV2?.dT_INICIO | date : "dd/MM/yyyy" }}</b></div>
  
              <div class="col-md-3 col-sm-6 text-right">Data Fim (Vigência Atual):</div>
              <div class="col-md-3 col-sm-6"><b>{{ this.ContratoV2?.dT_TERMINO | date : "dd/MM/yyyy" }}</b></div>
            </div>
  
            <div class="row">
              <div class="col-md-3 col-sm-6 text-right">Valor Global Total:</div>
              <div class="col-md-3 col-sm-6"><b>{{ somaVigencias(this.Contrato?.gcptb006Vigencias) | currency : "BRL"
                  }}</b></div>
  
              <div class="col-md-3 col-sm-6 text-right">Valor Global Vigente:</div>
              <div class="col-md-3 col-sm-6"><b>{{ ContratoV2?.vR_GLOBAL_VIGENTE | currency : "BRL" }}</b></div>
            </div>
  
            <div class="row">
              <div class="col-md-3 col-sm-6 text-right">Dia Pagamento Fatura:</div>
              <div class="col-md-3 col-sm-6"><b>{{ ContratoV2?.diA_PAGAMENTO_FATURA }}</b></div>
  
              <div class="col-md-3 col-sm-6 text-right">Dia Fechamento Fatura:</div>
              <div class="col-md-3 col-sm-6"><b>{{ this.ContratoV2?.diA_FECHAMENTO_FATURA }}</b></div>
            </div>
  
            <div class="row">
              <div class="col-md-3 col-sm-6 text-right">Fiscal Técnico (Demandante):</div>
              <div class="col-md-3 col-sm-6"><b>{{ this.ContratoV2?.nO_FISCAL_TEC ?? 'Não Informado' }}</b></div>
  
              <div class="col-md-3 col-sm-6 text-right">Fiscal Administrativo (CEGTI):</div>
              <div class="col-md-3 col-sm-6"><b>{{ this.ContratoV2?.nO_FISCAL_ADM ?? 'Não Informado' }}</b></div>
  
            </div>
  
            <div class="row">
              <div class="col-md-3 col-sm-6 text-right">Cadastrado/Alterado por:</div>
              <div class="col-md-3 col-sm-6"><b>{{ this.ContratoV2?.cO_MATRICULA_CADASTRO }} - {{
                  this.ContratoV2?.nO_USUARIO_CADASTRO }}</b></div>
  
              <div class="col-md-3 col-sm-6 text-right">Tipo de Contrato:</div>
              <div class="col-md-3 col-sm-6"><b>{{ this.ContratoV2?.contratO_TIPO }}</b></div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-3 col-sm-6 text-right">Objeto do Contrato:</div>
              <div class="col-md-9 col-sm-6"><b>{{ ContratoV2?.nO_OBJETO }}</b></div>
            </div>
          </div>
        </div>

        <div class="card" *ngIf="!validaContratoArtigo81(ContratoV2?.cO_CONTRATO)">
          <div class="card-header">
            <h3 class="card-title text-left">{{this.isRotaAtas ? 'ARP' : 'CONTRATO'}} {{ this.ContratoV2?.cO_CONTRATO }} -
              ADITIVOS E VIGÊNCIAS</h3>
          </div>
          <div class="card-body">
            <div class="row" *ngIf="dadosVigenciaAtual?.length">
              <div class="col-md-4">
                <b>VIGÊNCIA ATUAL</b>
              </div>
              <div class="col-md-2 text-right">Data Início/Término:</div>
              <div class="col-md-3">
                <b>{{ inicioVigencia | date: 'dd/MM/yyyy' }}</b> a
                <b>{{ fimVigencia | date: 'dd/MM/yyyy' }}</b>
              </div>
              <div class="col-md-1 text-right">Valor:</div>
              <div class="col-md-2">
                <b>{{ totalCurrentVigencia | currency : "BRL" }}</b>
              </div>
  
              <div class="col-md-12" *ngFor="let rubrica of  ordenaVigenciaAtualRubricas(currentVigenciaRubricas)">
                <div class="row">
                  <div class="col-md-10">
                    {{ rubrica.nO_RUBRICA}} - {{rubrica.dE_RUBRICA }}
                  </div>
                  <div class="col-md-2">
                    {{ rubrica.vR_GLOBAL | currency : "BRL" }}
                  </div>
                </div>
              </div>
  
              <hr class="custom-hr-large" />
  
            </div>
  
            <div class="row" *ngFor="
                let vigencia of this.Contrato?.gcptb006Vigencias;
                let i = index
              ">
              <!-- <div class="col-md-2 text-right">Vigência:</div> -->
              <div class="col-md-2">
                <b>{{ vigencia.gcptb007VigenciaTipo.noVigenciaTipo }}</b>
              </div>
              <div *ngIf="i == 0" class="col-md-2 text-right">Protocolo: &nbsp;
                <b>{{ vigencia.coProtocoloVigencia }}</b>
              </div>
              <div *ngIf="i > 0" class="col-md-2 text-right">Protocolo SICLG:
                <b>{{ vigencia.coProtocoloVigencia }}</b>
              </div>
              <div class="col-md-2 text-right">Data Início/Término:</div>
              <div class="col-md-3">
                <b>{{ vigencia.dtInicio | date : "dd/MM/yyyy" }}</b> a
                <b>{{ vigencia.dtTermino | date : "dd/MM/yyyy" }}</b> -
                <b>{{ vigencia.nuDiaInicio }}</b> a
                <b>{{ vigencia.nuDiaTermino }}</b>
              </div>
              <!-- <div class="col-md-1 text-right">Dias:</div>
                          <div class="col-md-2"><b>{{vigencia.nuDiaInicio}}</b> a <b>{{vigencia.nuDiaTermino}}</b></div>   -->
              <div class="col-md-1 text-right">Valor:</div>
              <div class="col-md-2">
                <b>{{ vigencia.vrGlobal | currency : "BRL" }}</b>
              </div>
  
              <div class="col-md-12" *ngFor="
                  let rubrica of ordenaVigenciaRubricas(vigencia.gcptb017VigenciaRubricas);
                  let i = index
                ">
                <div class="row">
                  <!-- <div class="col-md-2 text-right">
                    <i class="fas fa-level-up fa-rotate-90 fa-xl"></i>
                  </div> -->
                  <div class="col-md-10">
                    {{ rubrica.gcptb003Rubrica.coRubrica }} -
                    {{ rubrica.gcptb003Rubrica.deRubrica }}
                  </div>
                  <div class="col-md-2">
                    {{ rubrica.vrTotal | currency : "BRL" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
<div *ngFor="let vigenciaRubrica of ListaVigenciasRubricas let i = index">
  <div class="card">

  <div class="card-header">
  <h3 class="card-title text-left table-header-title">
      EVOLUÇÃO E PAGAMENTOS
  </h3>
    <h3 class="card-title text-left table-header-title">VIGÊNCIA <b style="background-color: yellow;">{{
      vigenciaRubrica.vigencia.iniciO_VIGENCIA | date:
      "dd/MM/yyyy"}}</b> a <b style="background-color: aqua;"> {{ vigenciaRubrica.vigencia.fiM_VIGENCIA |
        date: "dd/MM/yyyy" }}</b></h3>
  <h3 class="card-title text-left table-header-title"  style=" text-decoration: underline">
    EVOLUÇÃO E PAGAMENTOS
 </h3>
  <h3 class="card-title text-left table-header-title">
  RUBRICA - {{vigenciaRubrica.vigencia.cO_RUBRICA}}
  </h3>
  </div>
  <div class="card-body">
    <div class="row">
        <div class="col-md-2 text-right">Início Vigência:</div>
        <div class="col-md-4 text-left">
            <b>{{
                vigenciaRubrica.vigencia.iniciO_VIGENCIA | date:
                "dd/MM/yyyy"}}</b>
        </div>
        <div class="col-md-4 text-right">Valor Total da Vigência - CONTRATADO:</div>
        <div class="col-md-2 text-right">
            <b>{{ vigenciaRubrica.vigencia.totaL_CONTRATO
                | currency: "BRL" }}</b>
           
        </div>
        <div class="col-md-2 text-right">Término Vigência:</div>
        <div class="col-md-2 text-left">
            <b>{{ vigenciaRubrica.vigencia.fiM_VIGENCIA |
                date: "dd/MM/yyyy" }}</b>
          
        </div>
        <div class="col-md-6 text-right">Valor Total da Vigência - EXECUTADO:</div>
        <div class="col-md-2 text-right">
            <b>{{
                vigenciaRubrica.vigencia?.vR_EXECUTADO | currency:
                "BRL" }}</b>
        </div>
        <div class="col-md-2 text-right">Prazo Remanescente:</div>
        <div class="col-md-3 text-left">
            <b >{{
                vigenciaRubrica.vigencia.prazO_REMANESCENTE }}</b>
          
        </div>
        <div class="col-md-5 text-right">Saldo Atual da Vigência (Contratado - Executado):
        </div>
        <div class="col-md-2 text-right">
            <b >{{ vigenciaRubrica.vigencia.saldO_VIGENCIA
                | currency: "BRL" }}</b>
          
        </div>
        <div class="col-md-6 text-right">
            <small>
                *Prazo para o final da vigência do contrato em
                relação ao
                último dia de faturamento pago
                <b>{{
                    vigenciaRubrica.vigencia.fiM_VIGENCIA | date: "dd/MM/yyyy"
                    }}</b>
              
            </small>
        </div>
        <div class="col-md-4 text-right">Média Mensal Estimada:
        </div>
        <div class="col-md-2 text-right">
            <b>{{
                vigenciaRubrica.vigencia.mediA_MENSAL_ESTIMADA | currency:
                "BRL" }}</b>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-4 text-right">
            Média dos últimos 03 Pagamentos:
        </div>
        <div class="col-md-2 text-right">
            <b>{{vigenciaRubrica.vigencia.mediA_ULTIMOS_3_MESES
                | currency: "BRL"}}</b>
     
        </div>
        <div class="col-md-5 d-flex justify-content-end">
            <div class="col-md-12"
                *ngIf="vigenciaRubrica.vigencia && vigenciaRubrica.vigencia?.mediA_MENSAL_PAGAMENTOS > vigenciaRubrica.vigencia?.mediA_MENSAL_ESTIMADA">
                <div class="col-md-8 red" id="divRed">
                    Consumo ACIMA da média estimada
                </div>
            </div>
            <div class="col-md-12"
                *ngIf="vigenciaRubrica.vigencia && vigenciaRubrica.vigencia?.mediA_MENSAL_PAGAMENTOS <= vigenciaRubrica.vigencia?.mediA_MENSAL_ESTIMADA">
                <div class="col-md-8 green" id="divGreen">
                    Consumo ABAIXO da média estimada
                </div>
            </div>
        </div>
        <div class="col-md-5 text-right">
            Média de Todos os Pagamentos (da Vigência):
        </div>
        <div class="col-md-2 text-right">
            <b>{{
                vigenciaRubrica.vigencia.mediA_MENSAL_PAGAMENTOS | currency:
                "BRL"}}</b>
        </div>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 15px;">
        Mantendo-se a média mensal dos pagamentos, o esgotamento dos
        recursos do contrato ocorrerá em
        <strong> {{
            vigenciaRubrica.vigencia.nO_ESGOTAMENTO }} mês(es)</strong>
        em
        relação à última referência paga.
    </div>
  </div>
  </div>
  <div class="card-body">

  <div style="display: flex; justify-content: center; width: 90%;">
      <div class="col-md-5">
          <app-grafico style="width: 90%;" id="divGrafico_{{ vigenciaRubrica.rubrica.cO_RUBRICA }}"
              [titulo]="vigenciaRubrica.rubrica?.labeL_VIGENCIA ? vigenciaRubrica.rubrica?.labeL_VIGENCIA : vigenciaRubrica.rubrica?.labeL_VIGENCIA"
              [categorias]="vigenciaRubrica.rubrica.periodos" [series]="vigenciaRubrica.rubrica.series">
          </app-grafico>
      </div>
  </div>
  </div>

  <div class="row cl-header" *ngIf="vigenciaRubrica.lista.length !== 0; else elsePagamentoBlock">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                  <h3 class="card-title text-left table-header-title">RESUMO DOS PAGAMENTOS -
                      <span> CONTRATO {{vigenciaRubrica.vigencia.cO_CONTRATO}} - RUBRICA: {{vigenciaRubrica.vigencia.cO_RUBRICA}}</span></h3>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-12">
                          <p-table #dt [value]="vigenciaRubrica.lista" dataKey="dE_PERIODO"
                              currentPageReportTemplate="{totalRecords} registro(s) encontrado(s)"
                              [responsiveLayout]="'scroll'">
                              <ng-template pTemplate="header">
                                  <tr>
                                      <th style="width: 3rem;"></th>
                                      <th pSortableColumn="dE_PERIODO">Mês/Ano
                                          <p-sortIcon field="dE_PERIODO"></p-sortIcon>
                                      </th>
                                      <th pSortableColumn="vR_MENSALIZACAO">Valor
                                          Estimado <br /> (Mensalização)
                                          <p-sortIcon field="dE_PERIODO"></p-sortIcon>
                                      </th>
                                      <th pSortableColumn="vR_BRUTO">Valor
                                          Executado <b>(*)</b> <p-sortIcon
                                              field="vR_BRUTO"></p-sortIcon></th>
                                      <th *ngIf="vigenciaRubrica.vigencia.cO_RUBRICA == 'TOTAL'"
                                          pSortableColumn="vR_RETENCAO">
                                          Retenções<p-sortIcon field="vR_RETENCAO"></p-sortIcon>
                                      </th>
                                      <th *ngIf="vigenciaRubrica.vigencia.cO_RUBRICA == 'TOTAL'"
                                          pSortableColumn="vR_LIBERACAO">
                                          Liberação<p-sortIcon field="vR_LIBERACAO"></p-sortIcon>
                                      </th>
                                      <th pSortableColumn="vR_LIQUIDO">Valor Pago
                                          <b>(**)</b> <p-sortIcon field="vR_LIQUIDO"></p-sortIcon>
                                      </th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-evolucao let-expanded="expanded">
                                  <tr class="template-body">
                                      <td>
                                          <button type="button" pButton pRipple
                                              [pRowToggler]="evolucao"             
                                              class="p-button p-component p-button-icon-only p-element p-button-text p-button-rounded p-button-plain"><span
                                                  [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></span></button>
                                      </td>
                                      <td>{{ evolucao.dE_PERIODO }}</td>
                                      <td>{{ evolucao.vR_MENSALIZACAO | currency:
                                          'BRL' }}</td>
                                      <td>{{ evolucao.vR_BRUTO | currency: 'BRL'
                                          }}</td>
                                      <td *ngIf="vigenciaRubrica.vigencia.cO_RUBRICA == 'TOTAL'"
                                          class="sub-item text-end" style="cursor: pointer;">
                                          <a>
                                              {{ evolucao.vR_RETENCAO | currency:
                                              'BRL' }}</a>
                                      </td>
                                      <td *ngIf="vigenciaRubrica.vigencia.cO_RUBRICA == 'TOTAL'"
                                          class="sub-item text-end" style="cursor: pointer;">
                                          <a>
                                              {{ evolucao.vR_LIBERACAO | currency:
                                              'BRL' }}</a>
                                      </td>
                                      <td>{{ evolucao.vR_LIQUIDO | currency: 'BRL'
                                          }}</td>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="rowexpansion" let-evolucao>
                                  <tr class="center-item">
                                      <td colspan="7">
                                          <div
                                              *ngIf="evolucao.detalhes && evolucao.detalhes.length > 0; else semDados">
                                              <p-table [value]="evolucao.detalhes">
                                                  <ng-template pTemplate="header">
                                  <tr>
                                      <th></th>
                                      <th></th>
                                      <th pSortableColumn="nU_PEDIDO">Pedido
                                          <p-sortIcon field="nU_PEDIDO"></p-sortIcon>
                                      </th>
                                      <th pSortableColumn="cO_NUMERO_ATESTE">Nº
                                          Ateste <p-sortIcon
                                              field="cO_NUMERO_ATESTE"></p-sortIcon>
                                      </th>
                                      <th pSortableColumn="cO_RUBRICA">Rubrica
                                          <p-sortIcon field="cO_RUBRICA"></p-sortIcon>
                                      </th>
                                      <th pSortableColumn="vR_PAGAMENTO">Valor
                                          Pagamento <p-sortIcon field="vR_PAGAMENTO"></p-sortIcon>
                                      </th>
                                      <th pSortableColumn="dT_PAGAMENTO_EFETIVO">
                                          Data Pagamento
                                          <p-sortIcon field="dT_PAGAMENTO_EFETIVO"></p-sortIcon>
                                      </th>
                                  </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-detalhe>
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td>{{ detalhe.nU_PEDIDO }}</td>
                                      <td>{{ detalhe.cO_NUMERO_ATESTE }}</td>
                                      <td>{{ detalhe.cO_RUBRICA }}</td>
                                      <td>{{ detalhe.vR_PAGAMENTO | currency:
                                          'BRL' }}</td>
                                      <td>{{ detalhe.dT_PAGAMENTO_EFETIVO | date:
                                          'dd/MM/yyyy' }}</td>
                                  </tr>
                              </ng-template>
                          </p-table>
                      </div>
                      <ng-template #semDados>
                          <h4 class="text-center">Sem detalhes disponíveis para
                              este período.</h4>
                      </ng-template>
                      </td>
                      </tr>
                      </ng-template>
                      </p-table>
                      <br />
                      <br />
                      <div>
                          <span>(*) Valor total atestado pelo gestor operacional
                              do contrato (é o consumo
                              orçamentário para a efetivação do pagamento).</span>
                          <hr class="linha" />
                          <span>(**) Valor líquido do pagamento, após o abatimento
                              de eventuais retenções não
                              tributárias (glosas, descontos e/ou multas
                              aplicadas).</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </div>
    <ng-template #elsePagamentoBlock>
    <div class="card">
      <div class="card-header">
          <h3 class="card-title text-left table-header-title">RESUMO DOS PAGAMENTOS -
            <span> CONTRATO {{vigenciaRubrica.vigencia.cO_CONTRATO}} - RUBRICA: {{vigenciaRubrica.vigencia.cO_RUBRICA}}</span></h3>
      </div>
      <div class="card-body">
          Não existem pagamentos para a rubrica {{vigenciaRubrica.vigencia.cO_RUBRICA}}.
      </div>
    </div>
    </ng-template>
    </div>




<!--- LISTA DE RESUMO DE RUBRICAS -->
<!-- <div style="display: flex; justify-content: center;">
  <app-grafico-geral-pdf [vigenciaAtual]="this.todasVigencias" [ListaVigenciaRubrica]="ListaVigenciasRubricas" [Contrato]="this.Contrato" [rubricas]="rubricas" [vigenciaAnterior]="this.vigenciaAnterior">

  </app-grafico-geral-pdf>
</div> -->


 
 


