<div class="content">
    <dsc-breadcrumb [urls]="[{label: rota == 'atas' ? 'Atas de Registro de Preço' : 'Contratos'}]" style="margin-bottom: 24px;"></dsc-breadcrumb>
    <div class=" row">
        <div class=" col-12">
            <p-table #dt [value]="contratos" dataKey="id"
                styleClass="p-datatable-customers"
                [globalFilterFields]="['coContrato','noEmpresa','dhCadastro']" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <div class="row">
                            <div class="col-md-1 pl-1 pr-1 table-header-title">
                            </div>
                            <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button> -->
                            <div class=" pl-1 pr-1 text-right">
                                <!-- *ngIf="isAllowedToExport" -->
                                <dsc-button variant="secondary-outlined" icon="cloud_download" iconButton (click)="exportExcel()"
                                    *ngIf="permissions?.Exportar ?? false"></dsc-button>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposContrato" [(ngModel)]="selectedTipoContrato"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 1)" [showClear]="true"
                                    placeholder="Contrato"></p-dropdown>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposFornecedor" [(ngModel)]="selectedTipoFornecedor"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 2)" [showClear]="true"
                                    placeholder="Fornecedor"></p-dropdown>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposTpContrato" [(ngModel)]="selectedTipoTpContrato"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 3)" [showClear]="true"
                                    placeholder="Tipo de Contrato"></p-dropdown>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposGestor" [(ngModel)]="selectedTipoGestor"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 4)" [showClear]="true"
                                    placeholder="Unidade Demandante"></p-dropdown>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposStatus" [(ngModel)]="selectedTipoStatus"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 5)" [showClear]="true"
                                    placeholder="Status"></p-dropdown>
                            </div>

                            <div>
                                <button pButton type="button" label="Limpar filtros" class="btn btn-sm btn-default afastamento"
              (click)="limparFiltros()"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                {{rota == 'atas' ? 'Nr. Instrumento' : 'Nr. Contrato'}}
                                <!-- <p-sortIcon field="coContrato"></p-sortIcon> -->
                            </div>
                        </th>
                        <th *ngIf="isRotaAtas">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Nr. Processo
                                <!-- <p-sortIcon field="coContrato"></p-sortIcon> -->
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Fornecedor
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Tipo de contrato
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Unidade Demandante

                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Status
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Data Início

                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Data Término

                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Valor Global

                            </div>

                        </th>
                        <th *ngIf="!isRotaAtas">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Valor Pago
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contrato>
                    <tr class="p-selectable-row" (click)="navegarInfoContrato(contrato.coContrato,contrato.nuContrato)">
                        <td>
                            <span class="p-column-title">Código</span>
                            {{contrato.coContrato}}
                        </td>
                        <td *ngIf="isRotaAtas">
                            <span class="p-column-title">Processo</span>
                            {{contrato.coProcesso}}
                        </td>
                        <td style="width: 200px;">
                            <span class="p-column-title">NoEmpresa</span>
                            <span class="image-text">{{contrato.noEmpresa}}</span>
                        </td>
                        <td>
                            <span class="p-column-title">Tipo de contrato</span>
                            {{contrato.noContratoTipo}}
                        </td>
                        <td>
                            <span class="p-column-title">Unidade Demandante</span>
                            {{contrato.sgFilial}}
                        </td>
                        <td>
                            <span class="p-column-title">Status</span>
                            {{contrato.icAtivo == true ? 'Ativo' : 'Encerrado'}}
                        </td>
                        <td>
                            <span class="p-column-title">Date</span>
                            {{contrato.dtInicioContrato | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                            <span class="p-column-title">Date</span>
                            {{contrato.dtTerminoContrato | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{contrato.vrGlobal | currency : 'BRL'}}
                        </td>
                        <td  *ngIf="!isRotaAtas">
                            {{contrato.vrExecutado | currency : 'BRL'}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">Nenhum contrato cadastrado.</td>
                    </tr>
                </ng-template>
            </p-table>
            <dsc-paginator
              *ngIf="quantidadeTotal > 0"
              [length]="quantidadeTotal"
              [pageSize]="filtroRegistros.tamanhoPagina"
              [pageIndex]="filtroRegistros.paginaAtual - 1"
              [pageSizeOptions]="[10, 20, 50]"
              (page)="loadPage($event)">
            </dsc-paginator>
        </div>
    </div>
</div>
