<div class="modal-header">

  <button style="z-index: 10;" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>

<mat-tab-group>

  <mat-tab label="Consulta">

  <h4 style="padding: 10px 0px 0px 24px;" class="modal-title" id="modal-basic-title">
    <b>{{ titulo }}</b><br /><small>{{ subTitulo }}</small>
  </h4>

<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 pr-0">
            <label for="noCriador">Criado Por:</label>
            <input formControlName="noCriador" id="noCriador" readonly type="text" class="form-control" />
          </div>
          <div class="col-md-3 pr-0">
            <label for="dhCadastro">Data de Cria&ccedil;&atilde;o:</label>
            <input readonly formControlName="dhCadastro" id="dhCadastro" type="text" class="form-control" />
          </div>



<div
  class="col-md-3 pr-0"
  style="display: flex; flex-direction: column;"
  [ngClass]="isFlagStyle ? 'custom-dropdown-active' : 'custom-dropdown'"
>
  <label for="nuContrato">Nº Contrato:</label>

  <p-dropdown
    class="custom-dropdown"
    [options]="listaContratos"
    optionLabel="coContrato"
    [disabled]="!isFlagStyle && isReadonly"
    [readonly]="isFlagStyle && isReadonly"
    optionValue="nuContrato"
    formControlName="nuContrato"
    placeholder="Selecione o Contrato"
    [filter]="true"
    [emptyMessage]="'Nenhum contrato cadastrado.'"
    [ngClass]="{ 'is-invalid': submitted && f.nuContrato?.invalid }"
    (onChange)="onContratoChange($event)"
  >
  </p-dropdown>
</div>


          <div class="col-md-3 min-height-59">
            <label for="icServicoContinuo">Servi&ccedil;o Cont&iacute;nuo?</label>
            <div class="row">
              <div class="col-md-2 pr-1">N&atilde;o</div>
              <div class="col-md-2 pl-1 pr-1">
                <mat-slide-toggle formControlName="icServicoContinuo" id="icServicoContinuo"
                  (change)="onIsServicoContinuoChange($event)"></mat-slide-toggle>
              </div>
              <div class="col-md-2 pr-1">Sim</div>
            </div>
          </div>
          <div class="col-md-6 pr-0">
            <label for="deObjeto">Objeto:</label>
            <input formControlName="deObjeto" id="deObjeto" placeholder="Digite..." type="text" class="form-control" maxlength="255"/>
          </div>
          <div class="col-md-3 pr-0">
            <label for="nuPlanejamentoTipo">Tipo de Planejamento:</label>
            <!-- <select class="form-control" id="nuPlanejamentoTipo" formControlName="nuPlanejamentoTipo" [ngClass]="{
                'is-invalid': submitted && f.nuPlanejamentoTipo.invalid
              }">
              <option value="" disabled selected>Selecione o Tipo</option>
              <option *ngFor="let a of listaTiposPlanejamento" [ngValue]="a.nuPlanejamentoTipo">
                {{ a.dePlanejamentoTipo }}
              </option>
            </select> -->
            <input type="text" formControlName="nuPlanejamentoTipo" class="form-control" id="nuPlanejamentoTipo" value="{{tipo}}" placeholder="{{tipo}}" [readonly]="isReadonly" />
          </div>
          <div class="col-md-3 pr-0">
            <label for="nuDemandaTipo">Planejado Para:</label>
            <select class="form-control" id="nuDemandaTipo" formControlName="nuDemandaTipo"
              [ngClass]="{ 'is-invalid': submitted && f.nuDemandaTipo?.invalid }" (change)="onPlanejadoParaChange()">
              <option value="" disabled selected>
                Selecione o Planejamento
              </option>
              <option *ngFor="let a of listaTiposDemanda" [ngValue]="a.nuDemanda">
                {{ a.deDemanda }}
              </option>
            </select>
          </div>
          <div class="col-md-1 pr-0">
            <label for="nuAno">Exerc&iacute;cio:</label>
            <select class="form-control" id="nuAno" formControlName="nuAno" [disabled]="isReadonly"
              [ngClass]="{ 'is-invalid': submitted && f.nuAno.invalid }">
              <option value="" disabled selected>
                Selecione ano de exerc&iacute;cio
              </option>
              <option *ngFor="let a of listaExercicios" [ngValue]="a.nuOrcamento">
                {{ a.nuAnoOrcamento }}
              </option>
            </select>
            <!-- <input type="text" formControlName="nuAno" class="form-control" id="nuAno" value="{{ano}}" placeholder="{{ano}}" [readonly]="isReadonly" /> -->
          </div>
          <div class="col-md-2 pr-0">
            <label for="nuPlanejamentoStatus">Status:</label>
            <select
              class="form-control"
              id="nuPlanejamentoStatus"
              formControlName="nuPlanejamentoStatus"
              [ngClass]="{ 'is-invalid': submitted && f.nuPlanejamentoStatus.invalid }"
            >
              <option value="" disabled selected>Selecione Status</option>

              <ng-container *ngIf="isCadastro; else edicao">
                <ng-container *ngFor="let a of listaStatusPlanejamento">
                  <option *ngIf="a.nuPlanejamentoStatus == 5" [ngValue]="a.nuPlanejamentoStatus">
                    {{ a.noPlanejamentoStatus }}
                  </option>
                </ng-container>
              </ng-container>

              <ng-template #edicao>
                <ng-container *ngFor="let a of visibleStatusList">
                  <option [ngValue]="a.nuPlanejamentoStatus">
                    {{ a.noPlanejamentoStatus }}
                  </option>
                </ng-container>
              </ng-template>
            </select>
          </div>
          <div class="col-md-3 pr-0">
            <label for="nuObjetivoEstrategicoPdti">Objetivo Estratégico PDTIC:</label>
            <select class="form-control cl-select-pdtic" id="nuObjetivoEstrategicoPdti" formControlName="nuObjetivoEstrategicoPdti"
              [ngClass]="{
                'is-invalid': submitted && f.nuObjetivoEstrategicoPdti?.invalid
              }">
              <option value="" disabled selected>
                Selecione Objetivo Estratégico
              </option>
              <option *ngFor="let a of listaObjetivosEstrategicosPdti" [value]="a?.nuObjetivoEstrategicoPdti">
                {{ a?.coObjetivoEstrategico }} - {{ a?.deObjetivoEstrategico }}
              </option>
            </select>
          </div>
          <div class="col-md-3 pr-0">
            <label for="nuObjetivoEstrategico">Objetivo Estratégico PEI:</label>
            <select class="form-control" id="nuObjetivoEstrategicoPei" formControlName="nuObjetivoEstrategicoPei"
              [ngClass]="{
                'is-invalid': submitted && f.nuObjetivoEstrategicoPei?.invalid
              }">
              <option value="" disabled selected>
                Selecione Objetivo Estratégico PEI
              </option>
              <option *ngFor="let a of listaObjetivosEstrategicosPei" [value]="a?.nuObjetivoEstrategicoPei">
                {{ a.coObjetivoEstrategico }} - {{ a.deObjetivoEstrategico }}
              </option>
            </select>
          </div>
          <div class="col-md-3 pr-0">
            <label for="icDigital">Classifica&ccedil;&atilde;o Digital</label>
            <select class="form-control" id="icDigital" formControlName="icDigital"
              [ngClass]="{ 'is-invalid': submitted && f.icDigital?.invalid }" (change)="onIsDigitalChange($event)">
              <option value="" disabled selected>
                Selecione a Classifica&ccedil;&atilde;o
              </option>
              <option *ngFor="let a of listaDigital" [ngValue]="a.id">
                {{ a.tipo }}
              </option>
            </select>
          </div>
          <div class="col-md-9 pr-0">
            <label for="deJustificativa">Justificativa para Or&ccedil;amento:</label>
            <input formControlName="deJustificativa" id="deJustificativa" placeholder="Digite..." type="text" maxlength="255"
              class="form-control"
               />
          </div>
          <!-- <div class="col-md-3 pr-0">
            <div *ngIf="this.form.controls['icDigital'].value == 1 || this.form.controls['icDigital'].value == 2">
              <label for="nuClassificacaoPlanejamento">Categorias:</label>
              <select class="form-control" id="nuClassificacaoPlanejamento"
                formControlName="nuClassificacaoPlanejamento" [ngClass]="{
                  'is-invalid':
                    submitted && f.nuClassificacaoPlanejamento?.invalid
                }"
                [attr.required]="this.form.controls['icDigital'].value == 1 || this.form.controls['icDigital'].value == 2">
                <option value="" disabled selected>Selecione a Categoria</option>
                <option *ngFor="let a of listaClassificacoesPlanejamentoDigitalFiltrada" [ngValue]="a?.nuClassificacao">
                  {{ a.noClassificacao }}
                </option>
              </select>
            </div>
          </div> -->
          <div class="col-md-3 pr-0">
            <label for="nuFilial">Unidade Demandante:</label>
            <select class="form-control" id="nuFilial" formControlName="nuFilial"
              [ngClass]="{ 'is-invalid': submitted && f.nuFilial?.invalid }">
              <option value="" disabled selected>
                Selecione Ger&ecirc;ncia Nacional
              </option>
              <option *ngFor="let a of listaFiliais" [ngValue]="a.nuFilial">
                {{ a.coFilial }} - {{ a.sgFilial }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br />
   <div class="row">
  <div class="col-md-6">
    <h4 class="modal-title" id="modal-basic-title">
      <b>Previsões de Desembolso</b>
    </h4>
  </div>
  <div class="col-md-6 text-right">
    <button *ngIf="isEditable" type="button" class="btn-sm btn-secondary"
      (click)="adicionarPrevisaoDesembolso(false)">
      <i class="tim-icons icon-simple-add"></i>
    </button>
  </div>
</div>
<br />
<div formArrayName="previsoesDesembolso" *ngFor="
    let previsaoDesembolso of previsoesDesembolso.controls;
    let i = index
  ">
  <div class="row" [formGroupName]="i">
    <div style="padding: 10px 0px 0px 14px;" class="row">

      <!-- Campo Rubrica sempre visível -->
      <div class="col-md-4 pr-0">
        <label for="nuRubrica">Rubrica {{ i + 1 }} :</label>
        <select class="form-control" id="nuRubrica" formControlName="nuRubrica" (change)="onRubricaChange($event)"
          [ngClass]="{'is-invalid': submitted && previsaoDesembolso?.get('nuRubrica')?.invalid}">
          <option value="" disabled selected>Selecione Rubrica</option>
          <option *ngFor="let a of listaRubricas" [ngValue]="a.nuRubrica">
            {{ a.coRubrica +' | ' +a.deRubrica }}
          </option>
        </select>
      </div>

      <ng-container>
        <div class="col-md-3 pr-0" style="display:none;">
          <label for="nuPlanejamentoItem">Nº Planejamento Item:</label>
          <input formControlName="nuPlanejamentoItem" id="nuPlanejamentoItem" type="number" class="form-control" />
        </div>

        <div class="col-md-3 pr-0">
          <label for="nuSap">Número SAP :</label>
          <input formControlName="nuSap"
                 type="text"
                 class="form-control blockCampo"
                 oninput="this.value = this.value?.replace(/[^0-9]/g, '').slice(0, 10)"/>
        </div>

        <div class="col-md-3 pr-0">
          <label for="deSaP">Tipo SAP:</label>
          <input type="text"
                 class="form-control blockCampo"
                 formControlName="deSap"/>
        </div>

        <div class="col-md-1 pr-0" style="margin-top: 25px;">
          <button *ngIf="isEditable" type="button" class="btn-sm btn-secondary" (click)="excluirPrevisaoDesembolso(i)">
            <i class="tim-icons icon-trash-simple"></i>
          </button>
        </div>

        <!-- Campos dos meses -->
        <div class="col-md-12">
          <div class="div-vr-meses">
            <div class="row">
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrJaneiro">Janeiro:</label>
                <input currencyMask id="vrJaneiro" formControlName="vrJaneiro"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrFevereiro">Fevereiro:</label>
                <input currencyMask id="vrFevereiro" formControlName="vrFevereiro"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrMarco">Março:</label>
                <input currencyMask id="vrMarco" formControlName="vrMarco"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrAbril">Abril:</label>
                <input currencyMask id="vrAbril" formControlName="vrAbril"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrMaio">Maio:</label>
                <input currencyMask id="vrMaio" formControlName="vrMaio"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrJunho">Junho:</label>
                <input currencyMask id="vrJunho" formControlName="vrJunho"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrJulho">Julho:</label>
                <input currencyMask id="vrJulho" formControlName="vrJulho"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrAgosto">Agosto:</label>
                <input currencyMask id="vrAgosto" formControlName="vrAgosto"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrSetembro">Setembro:</label>
                <input currencyMask id="vrSetembro" formControlName="vrSetembro"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrOutubro">Outubro:</label>
                <input currencyMask id="vrOutubro" formControlName="vrOutubro"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrNovembro">Novembro:</label>
                <input currencyMask id="vrNovembro" formControlName="vrNovembro"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
              <div class="col-md-2 pl-[-1] pr-[-1]">
                <label for="vrDezembro">Dezembro:</label>
                <input currencyMask id="vrDezembro" formControlName="vrDezembro"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                  placeholder="R$ 0,00" class="form-control" (keyup)="onValorRubricaChange(i)" maxlength="21" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pl-[-1] pr-[-1]">
                <label for="vrTotalRubrica"><b>Total da Rubrica {{ i + 1 }}:</b></label>
                <input currencyMask id="vrTotalRubrica" formControlName="vrTotalRubrica"
                  placeholder="R$ 0,00" [options]="{ allowNegative: false }" class="form-control" readonly />
              </div>
              <div class="col-md-9 pr-0 text-right"></div>
            </div>

            <div class="row">
              <div class="col-md-12"><br /></div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10 pr-0">
          </div>
          <div class="col-md-2 pr-0">
            <label for="vrTotalOrcamentoPlanejamento"><b>Total da Contratação:</b></label>
            <input currencyMask id="vrTotalOrcamentoPlanejamento" formControlName="vrTotalOrcamentoPlanejamento"
              placeholder="R$ 0,00" [options]="{ allowNegative: false }"
              style="float: inline-end;margin-right: 10px;" class="form-control"/>
          </div>
          <div class="col-md-9"></div>
          <div class="col-md-3">
            <div class="col-md-12 pr-0 text-right" style="padding-top: 26px; padding-left: 0px;">


              <div *ngIf="!isEditable">
                <button class="btn-sm btn-default" type="submit" (click)="onSubmit()" style="margin-right: 5px">
                  {{ actionButtonLabel }}
                </button>

                <button class="btn-sm btn-warning" *ngIf="isPerfilPrivilegiado" (click)="
                 openModalPlanejamento(
                  'editar',
                  true,
                  planejamento.nuPlanejamentoOrcamentario
                )
              " style="margin-right: 5px">
                  <i class="tim-icons icon-pencil"></i>
                  <span> Editar</span>
                </button>
                <button class="btn-sm btn-danger" *ngIf=" isPerfilPrivilegiado" (click)="Excluir(planejamento)" style="margin-right: 5px">
                  <i class="tim-icons icon-trash-simple"></i>
                  <span> Excluir</span>
                </button>

              </div>
              <div *ngIf="isEditable">
                <button class="btn-sm btn-default" type="submit" (click)="onSubmit()" style="margin-right: 5px">
                  {{ actionButtonLabel }}
                </button>

                <button class="btn-sm btn-warning" *ngIf="isPerfilPrivilegiado && !isCadastro" (click)="Alterar()" style="margin-right: 5px">
                  <i class="tim-icons icon-pencil"></i>
                  <span> Salvar</span>
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-6" *ngIf="gcpvw008Mensalizacao.length > 0; else elseBlock">
            <h4 class="modal-title" id="modal-basic-title">
              <b>Valores estimados para o ano exercício</b>
            </h4>
          </div>
          <ng-template #elseBlock>
            <h4 class="modal-title" id="modal-basic-title" style="margin-bottom: 8px; margin-left: 15px;">
              <b>Este contrato não possui mensalização.</b>
            </h4>
          </ng-template>
          <div class="col-md-12 pr-0" style="margin-bottom: 20px;" *ngIf="gcpvw008Mensalizacao.length > 0">
            <mat-tab-group>
              <mat-tab *ngFor="let rubrica of rubricas" label="{{ rubrica.dE_RUBRICA }}">
                <div class="col-md-12">
                  <p-table [value]="filtraRubrica(rubrica.dE_RUBRICA)" styleClass="p-datatable-customers"
                    [responsive]="true" [rowHover]="true">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>
                          <div class="p-d-flex p-jc-between p-ai-center">
                            Competência
                          </div>
                        </th>
                        <th>
                          <div class="p-d-flex p-jc-between p-ai-center">
                            Valor Planejado
                          </div>
                        </th>
                        <th>
                          <div class="p-d-flex p-jc-between p-ai-center">
                            Observação
                          </div>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-mensalizacao>
                      <tr class="p-selectable-row">
                        <td>
                          <span class="p-column-title">Competência</span>
                          {{ mensalizacao.dE_PERIODO | date: 'MM/yyyy' }}
                        </td>
                        <td>
                          <span class="p-column-title">Valor Planejado</span>
                          {{ mensalizacao.vR_PLANEJADO | currency: 'BRL' }}
                        </td>
                        <td>
                          <span class="p-column-title">Observação</span>
                          {{ mensalizacao.obS_PARCELA }}
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="4">Nenhuma mensalização encontrada para a rubrica.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <div class="row total-rubrica">
                    <div class="text-right">Total da Rubrica:</div>
                    <div class="col-md-6">
                      <b>{{totalRubrica | currency: 'BRL' }}</b>
                    </div>
                  </div>
                </div>
              </mat-tab>

            </mat-tab-group>
          </div> -->
          <div class="col-md-12 pr-0">
            <h4 class="modal-title" id="modal-basic-title" for="deObservacao" style="margin-bottom: 8px;">
              <b>Observa&ccedil;&otilde;es</b>
            </h4>
            <textarea formControlName="deObservacao" id="deObservacao"
              [ngClass]="{ 'is-invalid': submitted && f.deObservacao?.invalid }" placeholder="Digite..."
              class="form-control border border-light rounded" maxlength="255" rows="4"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


</mat-tab>

    <mat-tab label="Histórico" >



      <p-card>

      <h4 class="modal-title" style="padding: 0px 0px 24px 12px ;">
        <b>Histórico</b> <br/> <small>Histórico Planejamento Orçamentário {{ this.planejamento?.coContrato }}</small>
      </h4>

      <mat-divider></mat-divider>

        <div class="historico-container">

          <div style="padding: 24px;">

          <p-dropdown
          [options]="filtros"
          [(ngModel)]="filtrosSelecionado"
          placeholder="Operação "
          (onChange)="filtrarEventos($event, 1)"
          >
          </p-dropdown>

          </div>

          <p-timeline
            *ngIf="ListaPlanejamentoItemHistorico.length > 0"
            [value]="ListaPlanejamentoItemHistorico"
            align="alternate"
            class="c-p-timeline"
          >

            <ng-template pTemplate="marker" let-event>
              <span
                class="custom-marker p-p-2 p-shadow-2"
                [ngStyle]="{
                  'background-color':
                    event.tpOperacao === 'INCLUSAO'
                      ? '#4CAF50'
                      : event.tpOperacao === 'ALTERACAO'
                      ? '#2196F3'
                      : '#F44336'
                }"
              >
                <i [ngClass]="event.tpOperacao === 'INCLUSAO' ? 'pi pi-plus' : event.tpOperacao === 'ALTERACAO' ? 'pi pi-pencil' : 'pi pi-trash'" style="color: white"></i>
              </span>
            </ng-template>


            <ng-template pTemplate="content" let-event>
              <p-card [header]="event.tpOperacao === 'INCLUSAO' ? 'INCLUSÃO' : event.tpOperacao === 'ALTERACAO' ? 'ALTERAÇÃO' : 'EXCLUSÃO'">
                <div class="card-content">

                  <p *ngIf="event.deObservacao">{{ event.deObservacao }}</p>
                  <small class="text-gray-500">
                    {{ event.dhLog | date : "short" }} - {{ event.noUsuarioAlteracao }}
                  </small>

                  <div *ngIf="event.listaDiffs" class="mt-2">

                    <button
                      style="cursor: no-drop !important;"
                      [disabled]="true"
                      class="btn-sm btn-default"
                      type="submit"
                      (click)="verDetalhes(event.listaDiffs)"
                    >
                      Ver detalhes
                    </button>
                  </div>
                </div>
              </p-card>
            </ng-template>
          </p-timeline>



          <p-paginator
            [rows]="100"
            [totalRecords]="ListaPlanejamentoItemHistorico.length"
          ></p-paginator>
        </div>
      </p-card>

      <!-- Modal Detalhes -->
      <p-dialog
        header="Detalhes da Alteração"
        [(visible)]="dialogVisible"
        [modal]="true"
        [style]="{ width: '500px' }"
        [closable]="true"
      >
        <p-table [value]="selectedDiff">
          <ng-template pTemplate="header">
            <tr>
              <th>Campo</th>
              <th>Antes</th>
              <th>Depois</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-campo>
            <tr>
              <td>{{ campo.campo }}</td>
              <td>{{ campo.antes }}</td>
              <td>{{ campo.depois }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>
  </mat-tab>

</mat-tab-group>
