<div style="
    background-image: url('../../../../assets/img/BG-novoscontratos.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 1000px;
    margin-left: -40%;
  ">
  <div class="content">

    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" style="margin-top: 24px !important; margin-right: 24px;">
      <span aria-hidden="true">x</span>
    </button>

    <div class="row divCenter">

      <div class="col-11">
        <div class="row divCenter">
          <span class="texto1">CEGTI - SDGVC - Alerta de Pendências </span>
        </div>
        <div class="row">
          <span class="texto2">Atenção Equipes CEGTI, GEGAT e gestores demandantes: <br>Apresentamos abaixo a lista de
            contratos recém capturados do SICLG e que exigem imediata
            complementação de informações por parte dos fiscais administrativos.</span>
        </div>
        <div class="row">
          <div class="col-12">
            <p-table #dt [value]="contratos" [(selection)]="selectedContratos" dataKey="id"
              [rowHover]="true"
              [globalFilterFields]="['coContrato', 'noEmpresa', 'dhCadastro']"
              class="table-transparent table-alerta">
              <ng-template pTemplate="header">
                <tr class="table-transparent border border-black">
                  <th class="table-transparent">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Nr. Contrato
                    </div>
                  </th>
                  <th class="table-transparent ">
                    <div class="p-d-flex p-jc-between p-ai-center">Fornecedor</div>
                  </th>
                  <th class="table-transparent">
                    <div class="p-d-flex p-jc-between p-ai-center">Unidade Demandante</div>
                  </th>
                  <th class="table-transparent">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Data Importação
                    </div>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-contrato>
                <tr class="p-selectable-row table-transparent border border-black"
                  (click)="navegarParaDetalhes(contrato.nuContrato)">
                  <td>
                    {{ contrato.coContrato }}
                  </td>
                  <td>
                    <span class="image-text">{{ contrato.noEmpresa }}</span>
                  </td>
                  <td>
                    {{ contrato.sgFilial }}
                  </td>
                  <td>
                    {{ contrato.dtInicioContrato | date: 'dd/MM/yyyy'}}
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4">Nenhum contrato cadastrado.</td>
                </tr>
              </ng-template>
            </p-table>
            <dsc-paginator
              *ngIf="quantidadeTotal > 0"
              [length]="quantidadeTotal"
              [pageSize]="filtroRegistros.pageSize"
              [pageIndex]="filtroRegistros.pageNumber - 1"
              [pageSizeOptions]="[5, 10, 20]"
              (page)="loadPage($event)">
            </dsc-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
