.p-datatable-customers{
    font-size: 11px !important;
}
.mat-menu-item{
    border: 0px!important;
    outline: solid 0px;
    border: 0px;
}
.white-space-break{
    width: 100px !important;
 }

 .c-acuracia{
    display: flex;
    width: 150px;
    justify-content: center;
    padding: 2px;
    // color: #ffffff;

 }