<div class="content">
    <div class="row">
        <div class=" col-12">
            <p-table #dt [value]="contratos" [(selection)]="selectedContratos" dataKey="id"
                styleClass="p-datatable-customers" [rows]="filtroRegistros.pageSize" [paginator]="true"
                [loading]="loading" [totalRecords]="quantidadeTotal" [rowsPerPageOptions]="[10, 20, 50]" [lazy]="true"
                (onLazyLoad)="loadPage($event)" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} contratos"
                [globalFilterFields]="['coContrato','noEmpresa','dhCadastro']" [rowHover]="true">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <div class="row">
                            <div class="col-md-1 pl-1 pr-1 table-header-title">Relatório de Consumo
                            </div>
                            <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button> -->
                            <div class="col-md-1 pl-1 pr-1 text-right">
                                <!-- *ngIf="isAllowedToExport" -->
                                <button type="button" class="btn-sm btn-secondary" (click)="exportExcel()"
                                    *ngIf="permissions?.Exportar ?? false">
                                    <i class="tim-icons icon-cloud-download-93"></i>
                                </button>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposContrato" [(ngModel)]="selectedTipoContrato"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 1)" [showClear]="true"
                                    placeholder="Contrato"></p-dropdown>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposFornecedor" [(ngModel)]="selectedTipoFornecedor"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 2)" [showClear]="true"
                                    placeholder="Fornecedor"></p-dropdown>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposTpContrato" [(ngModel)]="selectedTipoTpContrato"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 3)" [showClear]="true"
                                    placeholder="Tipo de Contrato"></p-dropdown>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposGestor" [(ngModel)]="selectedTipoGestor"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 4)" [showClear]="true"
                                    placeholder="Unidade Demandante"></p-dropdown>
                            </div>
                            <div class="pl-1 pr-1">
                                <p-dropdown [options]="selectTiposStatus" [(ngModel)]="selectedTipoStatus"
                                    [filter]="true" optionLabel="label" optionValue="value"
                                    (onChange)="updateRelatorio($event, 5)" [showClear]="true"
                                    placeholder="Status"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Nr. Contrato
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Fornecedor
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                               Unidade Demandante
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                               Status
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center white-space-break">
                                Vigência Atual - Início

                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center white-space-break">
                                Vigência Atual - Fim

                            </div>

                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center white-space-break">
                                Valor Global Vigente

                            </div>

                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                               Valor Executado

                            </div>

                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                % Dias Corridos
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                % Executado Vigência
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                % Consumo
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Saldo Disponível
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contrato>
                    <tr class="p-selectable-row" (click)="navegarInfoContrato(contrato.coContrato,contrato.nuContrato)">
                        <td>
                            {{contrato.coContrato}}
                        </td>
                        <td style="width: 200px;">
                            <span class="image-text">{{contrato.noEmpresa}}</span>
                        </td>
                        <td>
                            {{contrato.sgFilial}}
                        </td>
                        <td>
                            {{contrato.icAtivo ? 'Ativo' : 'Encerrado'}}
                        </td>
                        <td>
                            {{contrato.dtInicioContrato | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{contrato.dtTerminoContrato | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                          R$ {{contrato.vrGlobalFormatado}}
                        </td>
                        <td>
                          R$ {{contrato.vrExecutadoFormatado}}
                        </td>
                        <td>
                            {{contrato.percDiasCorridos}}
                        </td>
                        <td>
                            {{contrato.percVrExecutado}}
                        </td>
                        <td>
                            {{contrato.percConsumo}}
                        </td>
                        <td>
                            R$ {{contrato.saldoDisponivel}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">Nenhum contrato cadastrado.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>