<div class="modal-header">
  <button
    style="z-index: 10"
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">×</span>
  </button>
</div>

<mat-tab-group>
  <mat-tab label="Planejamento">
    <h4
      style="padding: 10px 0px 0px 24px"
      class="modal-title"
      id="modal-basic-title"
    >
      <b>{{ titulo }}</b
      ><br /><small>{{ subTitulo }}</small>
    </h4>

    <div class="modal-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 pr-0">
                <label for="noCriador">Criado Por:</label>
                <input
                  formControlName="noCriador"
                  id="noCriador"
                  readonly
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="col-md-3 pr-0">
                <label for="dhCadastro">Data de Cria&ccedil;&atilde;o:</label>
                <input
                  readonly
                  formControlName="dhCadastro"
                  id="dhCadastro"
                  type="text"
                  class="form-control"
                />
              </div>

              <div
                class="col-md-3 pr-0"
                style="display: flex; flex-direction: column"
                [ngClass]="
                  isFlagContrato ? 'custom-dropdown-active' : 'custom-dropdown'
                "
              >
                <label for="nuContrato">Nº Contrato:</label>
                <p-dropdown
                  class="custom-dropdown"
                  [options]="dadosDeDominio.listaContratos"
                  optionLabel="coContrato"
                  [disabled]="!isFlagContrato && isReadonly"
                  [readonly]="isFlagContrato && isReadonly"
                  optionValue="nuContrato"
                  formControlName="nuContrato"
                  placeholder="Selecione o Contrato"
                  [filter]="true"
                  [emptyMessage]="'Nenhum contrato cadastrado.'"
                  [ngClass]="{
                    'is-invalid': submitted && f.nuContrato?.invalid,
                  }"
                  (onChange)="onContratoChange($event)"
                >
                </p-dropdown>
              </div>

              <div class="col-md-3 min-height-59">
                <label for="icServicoContinuo"
                  >Servi&ccedil;o Cont&iacute;nuo?</label
                >
                <div class="row">
                  <div class="col-md-2 pr-1">N&atilde;o</div>
                  <div class="col-md-2 pl-1 pr-1">
                    <mat-slide-toggle
                      formControlName="icServicoContinuo"
                      id="icServicoContinuo"
                      (change)="onIsServicoContinuoChange($event)"
                    ></mat-slide-toggle>
                  </div>
                  <div class="col-md-2 pr-1">Sim</div>
                </div>
              </div>
              <div class="col-md-6 pr-0">
                <label for="deObjeto"
                  >Objeto:<span class="span-red"> *</span></label
                >
                <textarea
                  rows="4"
                  [disabled]="!isFlagObjeto && isReadonly"
                  [readonly]="isFlagObjeto && isReadonly"
                  [ngClass]="{ 'is-invalid': submitted && f.deObjeto.invalid }"
                  formControlName="deObjeto"
                  id="deObjeto"
                  placeholder="Digite..."
                  type="text"
                  class="form-control"
                ></textarea>
              </div>
              <div class="col-md-3 pr-0" style="align-content: center;">
                <label for="nuPlanejamentoTipo">Tipo de Planejamento:</label>
                <input
                  type="text"
                  formControlName="nuPlanejamentoTipo"
                  class="form-control"
                  id="nuPlanejamentoTipo"
                  [value]="tipo"
                  [placeholder]="tipo"
                  readonly
                />

              </div>

              <div class="col-md-3 pr-0" style="align-content: center;">
                <label for="nuDemandaTipo">
                  Planejado Para:<span class="span-red"> *</span>
                </label>

                <p-dropdown
                  class="custom-dropdown"
                  formControlName="nuDemandaTipo"
                  [options]="dadosDeDominio.listaTiposDemanda"
                  optionLabel="deDemanda"
                  optionValue="nuDemanda"
                  placeholder="Selecione o Planejamento"
                  [filter]="true"
                  (onChange)="onPlanejadoParaChange()"
                  [ngClass]="{
                    'is-invalid': submitted && f.nuDemandaTipo?.invalid,
                  }"
                >
                </p-dropdown>


              </div>

              <div class="col-md-1 pr-0">
                <label for="nuAno">Exerc&iacute;cio:</label>

                <input
                  type="text"
                  formControlName="nuAno"
                  class="form-control"
                  id="nuAno"
                  value="{{ this.nuAno }}"
                  placeholder="{{ this.nuAno }}"
                  [readonly]="isReadonly"
                />
              </div>

              <div class="col-md-2 pr-0">
                <label>Status:</label>

                <p-dropdown
                  class="custom-dropdown"
                  formControlName="nuPlanejamentoStatus"
                  [options]="dadosDeDominio.listaStatusPlanejamento"
                  optionLabel="noPlanejamentoStatus"
                  [readonly]="(perfilAtual !== 'Orçamento' && perfilAtual !== 'Administrador') && (form.get('nuPlanejamentoStatus')?.value !== 5)"
                  optionValue="nuPlanejamentoStatus"
                  placeholder="Selecione Status"
                  [filter]="true"
                  [ngClass]="{
                    'is-invalid': submitted && f.nuPlanejamentoStatus?.invalid,
                  }"
                >
                  <ng-template pTemplate="item" let-item>
                    <span
                      *ngIf="!isCadastro || item.nuPlanejamentoStatus === 5"
                    >
                      {{ item.noPlanejamentoStatus }}
                    </span>
                  </ng-template>
                </p-dropdown>
              </div>

              <div class="col-md-3 pr-0">
                <label>
                  Objetivo Estratégico PDTIC:<span class="span-red"> *</span>
                </label>

                <p-dropdown
                  class="custom-dropdown"
                  formControlName="nuObjetivoEstrategicoPdti"
                  [options]="dadosDeDominio.listaObjetivosEstrategicosPdti"
                  optionLabel="coObjetivoDeObjetivoEstrategico"
                  optionValue="nuObjetivoEstrategico"
                  placeholder="Selecione Objetivo Estratégico"
                  [filter]="true"
                  filterBy="deObjetivoEstrategico,coObjetivoEstrategico"
                  [ngClass]="{
                    'is-invalid':
                      submitted && f.nuObjetivoEstrategicoPdti?.invalid,
                  }"
                >
                  <ng-template pTemplate="item" let-item>
                    {{ item.coObjetivoEstrategico }} -
                    {{ item.deObjetivoEstrategico }}
                  </ng-template>
                </p-dropdown>
              </div>


              <div class="col-md-3 pr-0">
                <label>
                  Objetivo Estratégico PEI:<span class="span-red"> *</span>
                </label>

                <p-dropdown
                  class="custom-dropdown"
                  formControlName="nuObjetivoEstrategicoPei"
                  [options]="dadosDeDominio.listaObjetivosEstrategicosPei"
                  optionLabel="coObjetivoDeObjetivoEstrategico"
                  optionValue="nuObjetivoEstrategico"
                  placeholder="Selecione Objetivo Estratégico PEI"
                  [filter]="true"
                  [disabled]="!isEditable"
                  filterBy="deObjetivoEstrategico,coObjetivoEstrategico"
                  [ngClass]="{
                    'is-invalid':
                      submitted && f.nuObjetivoEstrategicoPei?.invalid,
                  }"
                >
                  <ng-template pTemplate="item" let-item>
                    {{ item.coObjetivoEstrategico }} -
                    {{ item.deObjetivoEstrategico }}
                  </ng-template>


                </p-dropdown>
              </div>

               <!-- <div class="col-md-3 pr-0">
            <label for="icDigital">Classifica&ccedil;&atilde;o Digital:<span class="span-red"> *</span></label>
            <select class="form-control" id="icDigital" formControlName="icDigital"
              [ngClass]="{ 'is-invalid': submitted && f.icDigital?.invalid }" (change)="onIsDigitalChange($event)">
              <option value="" disabled selected>
                Selecione a Classifica&ccedil;&atilde;o
              </option>
              <option *ngFor="let a of listaDigital" [ngValue]="a.id">
                {{ a.tipo }}
              </option>
            </select>
          </div> -->

              <div class="col-md-9 pr-0">
                <label for="deJustificativa"
                  >Justificativa para Or&ccedil;amento:<span class="span-red">
                    *</span
                  ></label
                >
                <input
                  [ngClass]="{
                    'is-invalid': submitted && f.deJustificativa?.invalid,
                  }"
                  formControlName="deJustificativa"
                  id="deJustificativa"
                  placeholder="Digite..."
                  type="text"
                  maxlength="255"
                  class="form-control"
                />
              </div>

              <div class="col-md-3 pr-0">
                <label for="nuFilial"
                  >Unidade Demandante:<span class="span-red"> *</span></label
                >
                <p-dropdown
                  id="nuFilial"
                  [options]="dadosDeDominio.listaUnidadesDemandantes"
                  optionLabel="noFilialEcoFilial"
                  optionValue="nuFilial"
                  [style]="{ width: '100%' }"
                  formControlName="nuFilial"
                  placeholder="Selecione Ger&ecirc;ncia Nacional"
                  [filter]="true"
                  [emptyMessage]="'Nenhum contrato cadastrado.'"
                  [ngClass]="{ 'is-invalid': submitted && f.nuFilial?.invalid }"
                >
                </p-dropdown>
              </div>
            </div>


            <div style="padding-top: 15px;" *ngIf="isFlagPlanoDeAquisicao">
               <h4 class="modal-title" id="modal-basic-title">
                  <b>Plano de Aquisição</b>
                  </h4>

                <div style="display: flex; padding-top: 10px;">

                 <div style="padding-left: 0;" class="col-md-3 pr-0">
                  <label for="nuModalidade">
                    Tipo de Modalidade:
                  </label>

                  <p-dropdown
                    class="custom-dropdown"
                    formControlName="nuModalidade"
                    [options]="dadosDeDominio.listaTiposModalidade"
                    optionLabel="descricao"
                    optionValue="id"
                    placeholder="Selecione a Modalidade"
                    [filter]="true"
                  >
                  </p-dropdown>
                </div>



                <div class="col-md-3 pr-0">
                  <label for="dtPrevisaoSiclg"
                    >Data de previsão SICLG:<span class="span-red"> *</span>
                  </label>
                  <input
                    formControlName="dtPrevisaoSiclg"
                    id="dtPrevisaoSiclg"
                    type="date"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.dtPrevisaoSiclg?.invalid,
                    }"
                  />
                </div>

                  <div class="col-md-3 pr-0">
                  <label for="dePrazoVigencia">
                    Prazo Vigencia (Meses):<span class="span-red"> *</span>
                  </label>
                  <input
                    type="number"
                    class="form-control"
                    id="dePrazoVigencia"
                    min="1"
                    max="999"
                    step="1"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    (keydown)="bloquearCaracteresInvalidos($event)"
                    placeholder="Ex: 60 Meses"
                    formControlName="dePrazoVigencia"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.dePrazoVigencia?.invalid,
                    }"
                  />
                </div>

                 <div class="col-md-3 pr-0">
                  <label for="vrGlobal">
                    Valor Global:<span class="span-red"> *</span>
                  </label>
                  <input
                    currencyMask
                    id="vrGlobal"
                    formControlName="vrGlobal"
                    [options]="{
                      prefix: 'R$ ',
                      thousands: '.',
                      decimal: ',',
                      precision: 2,
                      allowNegative: false,
                    }"
                    placeholder="R$ 0,00"
                    class="form-control"
                    maxlength="21"
                    [ngClass]="{
                      'is-invalid': submitted && f.vrGlobal?.invalid,
                    }"
                  />
                </div>


              </div>
              </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <h4 class="modal-title" id="modal-basic-title">
              <b>Previsões de Desembolso</b>
            </h4>

            <div style="display: flex; padding-top: 10px">
              <div class="">
                <label for="nuSap">Número SAP :</label>
                <input
                  readonly
                  formControlName="nuSap"
                  type="text"
                  class="form-control blockCampo"
                  oninput="
                    this.value = this.value?.replace(/[^0-9]/g, '').slice(0, 10)
                  "
                />
              </div>

              <div style="padding-left: 10px">
                <label for="deSaP">Tipo SAP:</label>
                <input
                  readonly
                  type="text"
                  class="form-control blockCampo"
                  formControlName="deSap"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <button
              *ngIf="isEditable"
              type="button"
              class="btn-sm btn-secondary"
              (click)="adicionarPrevisaoDesembolso()"
            >
              <i class="tim-icons icon-simple-add"></i>
            </button>
          </div>
        </div>
        <br />
        <div
          formArrayName="previsoesDesembolso"
          *ngFor="
            let previsaoDesembolso of previsoesDesembolso.controls;
            let i = index
          "
        >
          <div class="row" [formGroupName]="i">
            <div style="padding: 10px 0px 0px 14px" class="row">
              <!-- Campo Rubrica sempre visível -->
              <div class="col-md-4 pr-0">
                <label for="nuRubrica"
                  >Rubrica {{ i + 1 }} :<span class="span-red"> *</span></label
                >
                <select
                  class="form-control"
                  id="nuRubrica"
                  formControlName="nuRubrica"
                  (change)="onRubricaChange($event)"
                  [ngClass]="{
                    'is-invalid':
                      submitted &&
                      previsaoDesembolso?.get('nuRubrica')?.invalid,
                  }"
                >
                  <option value="" disabled selected>Selecione Rubrica</option>
                  <option
                    *ngFor="let a of dadosDeDominio.listaRubricas"
                    [ngValue]="a.nuRubrica"
                  >
                    {{ a.coRubrica + " | " + a.deRubrica }}
                  </option>
                </select>
              </div>

              <ng-container>
                <div class="col-md-3 pr-0" style="display: none">
                  <label for="nuPlanejamentoItem">Nº Planejamento Item:</label>
                  <input
                    formControlName="nuPlanejamentoItem"
                    id="nuPlanejamentoItem"
                    type="number"
                    class="form-control"
                  />
                </div>

                <div class="col-md-1 pr-0" style="margin-top: 25px">
                  <button
                    *ngIf="isEditable"
                    type="button"
                    class="btn-sm btn-secondary"
                    (click)="excluirPrevisaoDesembolso(i)"
                  >
                    <i class="tim-icons icon-trash-simple"></i>
                  </button>
                </div>

                <!-- Campos dos meses -->
                <div class="col-md-12">
                  <div class="div-vr-meses">
                    <div class="row">
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrJaneiro">Janeiro:</label>
                        <input
                          currencyMask
                          id="vrJaneiro"
                          formControlName="vrJaneiro"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrFevereiro">Fevereiro:</label>
                        <input
                          currencyMask
                          id="vrFevereiro"
                          formControlName="vrFevereiro"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrMarco">Março:</label>
                        <input
                          currencyMask
                          id="vrMarco"
                          formControlName="vrMarco"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrAbril">Abril:</label>
                        <input
                          currencyMask
                          id="vrAbril"
                          formControlName="vrAbril"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrMaio">Maio:</label>
                        <input
                          currencyMask
                          id="vrMaio"
                          formControlName="vrMaio"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrJunho">Junho:</label>
                        <input
                          currencyMask
                          id="vrJunho"
                          formControlName="vrJunho"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrJulho">Julho:</label>
                        <input
                          currencyMask
                          id="vrJulho"
                          formControlName="vrJulho"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrAgosto">Agosto:</label>
                        <input
                          currencyMask
                          id="vrAgosto"
                          formControlName="vrAgosto"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrSetembro">Setembro:</label>
                        <input
                          currencyMask
                          id="vrSetembro"
                          formControlName="vrSetembro"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrOutubro">Outubro:</label>
                        <input
                          currencyMask
                          id="vrOutubro"
                          formControlName="vrOutubro"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrNovembro">Novembro:</label>
                        <input
                          currencyMask
                          id="vrNovembro"
                          formControlName="vrNovembro"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                      <div class="col-md-2 pl-[-1] pr-[-1]">
                        <label for="vrDezembro">Dezembro:</label>
                        <input
                          currencyMask
                          id="vrDezembro"
                          formControlName="vrDezembro"
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ',',
                            precision: 2,
                            allowNegative: false,
                          }"
                          placeholder="R$ 0,00"
                          class="form-control"
                          (keyup)="onValorRubricaChange(i)"
                          maxlength="21"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 pl-[-1] pr-[-1]">
                        <label for="vrTotalRubrica"
                          ><b>Total da Rubrica {{ i + 1 }}:</b></label
                        >
                        <input
                          currencyMask
                          id="vrTotalRubrica"
                          formControlName="vrTotalRubrica"
                          placeholder="R$ 0,00"
                          [options]="{ allowNegative: false }"
                          class="form-control"
                          readonly
                        />
                      </div>
                      <div class="col-md-9 pr-0 text-right"></div>
                    </div>

                    <div class="row">
                      <div class="col-md-12"><br /></div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 30px">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-10 pr-0"></div>
              <div class="col-md-2 pr-0">
                <label for="vrTotalOrcamentoPlanejamento"
                  ><b>Total da Contratação:</b></label
                >
                <input
                  currencyMask
                  id="vrTotalOrcamentoPlanejamento"
                  formControlName="vrTotalOrcamentoPlanejamento"
                  placeholder="R$ 0,00"
                  [options]="{ allowNegative: false }"
                  style="float: inline-end; margin-right: 10px"
                  class="form-control"
                />
              </div>

              <div class="col-md-12">
                <div
                  class="pr-0 text-right"
                  style="padding-top: 26px; padding-left: 0px"
                >
                  <div *ngIf="!isEditable">
                    <button
                      class="btn-sm btn-default"
                      type="submit"
                      (click)="onSubmit()"
                      style="margin-right: 5px"
                    >
                      {{ actionButtonLabel }}
                    </button>

                    <button
                      class="btn-sm btn-warning"
                      *ngIf="isPerfilPrivilegiado"
                      (click)="habilitarCamposParaEdicao('editar', true)"
                      style="margin-right: 5px"
                    >
                      <i class="tim-icons icon-pencil"></i>
                      <span> Editar</span>
                    </button>
                    <button
                      class="btn-sm btn-danger"
                      *ngIf="isPerfilPrivilegiado"
                      (click)="Excluir(planejamento)"
                      style="margin-right: 5px"
                    >
                      <i class="tim-icons icon-trash-simple"></i>
                      <span> Excluir</span>
                    </button>
                  </div>
                  <div *ngIf="isEditable">
                    <button
                      class="btn-sm btn-default"
                      type="submit"
                      (click)="onSubmit()"
                      style="margin-right: 5px"
                    >
                      {{ actionButtonLabel }}
                    </button>

                    <button
                      class="btn-sm btn-warning"
                      *ngIf="isPerfilPrivilegiado && !isCadastro"
                      (click)="Alterar()"
                      style="margin-right: 5px"
                    >
                      <i class="tim-icons icon-pencil"></i>
                      <span> Salvar</span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-12 pr-0">
                <h4
                  class="modal-title"
                  id="modal-basic-title"
                  for="deObservacao"
                  style="margin-bottom: 8px"
                >
                  <b>Observa&ccedil;&otilde;es:</b>
                </h4>
                <textarea
                  formControlName="deObservacao"
                  id="deObservacao"
                  [ngClass]="{
                    'is-invalid': submitted && f.deObservacao?.invalid,
                  }"
                  placeholder="Digite..."
                  class="form-control border border-light rounded"
                  maxlength="255"
                  rows="4"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>

  <mat-tab label="Histórico">
    <p-card>
      <h4 class="modal-title" style="padding: 0px 0px 24px 12px">
        <b>Histórico</b> <br />
        <small
          >Histórico Planejamento Orçamentário
          {{ this.planejamento?.coContrato }}</small
        >
      </h4>

      <mat-divider></mat-divider>

      <div class="historico-container">
        <div style="padding: 24px">
          <p-dropdown
            [options]="filtros"
            [(ngModel)]="filtrosSelecionado"
            placeholder="Operação "
            (onChange)="filtrarEventos($event, 1)"
          >
          </p-dropdown>
        </div>

        <p-timeline
          *ngIf="listaPlanejamentoItemHistorico.totalRegistros > 0"
          [value]="listaPlanejamentoItemHistorico.listaHistorico"
          align="alternate"
          class="c-p-timeline"
        >
          <ng-template pTemplate="marker" let-event>
            <span
              class="custom-marker p-p-2 p-shadow-2"
              [ngStyle]="{ 'background-color': getMarkerColor(event) }"
            >
              <i
                [ngClass]="getMarkerIcon(event)"
                style="color: white"
              ></i>
            </span>
          </ng-template>

          <ng-template pTemplate="content" let-event>
            <p-card [header]="getCardHeader(event)">
              <div class="card-content">
                <p *ngIf="event.deObservacao">{{ event.deObservacao }}</p>
                <small *ngIf="event.descricaoRubrica"
                  >{{ event.descricaoRubrica }}</small
                >
                <small *ngIf="event.sgFilial">{{ event.sgFilial }}</small>
                <small class="text-gray-500">
                  {{ event.dhCadastro | date: "short" }} -
                  {{ event.noUsuarioAlteracao }}
                </small>

                <div
                  *ngIf="
                    event.listaDiffs &&
                    event.tpOperacao != 'INCLUSAO' &&
                    event.tpOperacao != 'EXCLUSAO' && event.listaDiffs.length != 0
                  "
                  class="mt-2"
                >
                  <button
                    [disabled]="false"
                    class="btn-sm btn-default"
                    type="submit"
                    (click)="verDetalhes(event.listaDiffs)"
                  >
                    Ver detalhes
                  </button>
                </div>
              </div>
            </p-card>
          </ng-template>
        </p-timeline>

        <p-paginator
          [rows]="filtroRegistros.tamanhoPagina"
          [first]="0"
          [rowsPerPageOptions]="[5, 10, 20]"
          (onPageChange)="loadPage($event)"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
          [totalRecords]="listaPlanejamentoItemHistorico.totalRegistros"
        ></p-paginator>
      </div>
    </p-card>

    <p-dialog
      header="Detalhes da Alteração"
      [(visible)]="dialogVisible"
      [modal]="true"
      [draggable]="false"
      [style]="{ width: '500px' }"
      [closable]="true"
    >
      <p-table [value]="selectedDiff">
        <ng-template pTemplate="header">
          <tr>
            <th>Campo</th>
            <th>Antes</th>
            <th>Depois</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-campo>
          <tr>
            <td class="diff-row">
              <strong>{{ campo.campo }}:</strong>
            </td>
            <td>
              <span class="antes">{{ campo.antes | formatDiff }}</span>
            </td>
            <td>
              <span class="depois">{{ campo.depois | formatDiff }}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>
  </mat-tab>
</mat-tab-group>
