<div class="logo">
  <a href="/#" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/logo.png" />
    </div>
  </a>
  <a href="/#" class="simple-text logo-normal"> Converge:<br>Gestão Estratégica<br>de Contratos,<br>Planejamento<br>e Orçamento
  </a>
</div>
<div class="sidebar-wrapper">
  <div class="mobile-menu-header">
    <span>Menu</span>
    <button type="button" aria-label="Fechar menu" (click)="sidenav.close()">
      <i class="fas fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <ul class="nav">
    <ng-container *ngFor="let menuItem of menuItems">
      <ng-container *ngTemplateOutlet="menuNode; context: { $implicit: menuItem, level: 0 }"></ng-container>
    </ng-container>
  </ul>

  <ng-template #menuNode let-menuItem let-level="level">
    <li routerLinkActive="active" class="nav-item" [class.nested-item]="level > 0">
      <a *ngIf="menuItem.children?.length" class="nav-link menu-toggle" (click)="toggleMenu(menuItem)">
        <i *ngIf="level === 0 && menuItem.icon" class="tim-icons {{ menuItem.icon }}" aria-hidden="true"></i>
        <p>{{ menuItem.title }}<b class="caret"></b></p>
      </a>

      <div *ngIf="menuItem.children?.length" class="collapse" [class.show]="isMenuExpanded(menuItem)">
        <ul class="nav">
          <ng-container *ngFor="let child of menuItem.children">
            <ng-container *ngTemplateOutlet="menuNode; context: { $implicit: child, level: level + 1 }"></ng-container>
          </ng-container>
        </ul>
      </div>

      <a *ngIf="!menuItem.children?.length && menuItem.url" class="nav-link" [attr.href]="'#' + menuItem.url" (click)="closeMobileMenu()">
        <i *ngIf="level === 0 && menuItem.icon" class="tim-icons {{ menuItem.icon }}" aria-hidden="true"></i>
        <p>{{ menuItem.title }}</p>
      </a>

      <a *ngIf="!menuItem.children?.length && menuItem.externalUrl" class="nav-link" [attr.href]="menuItem.externalUrl" (click)="closeMobileMenu()">
        <i *ngIf="level === 0 && menuItem.icon" class="tim-icons {{ menuItem.icon }}" aria-hidden="true"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ng-template>
</div>
