<div class="content" id="">
    <div class="row">
        <div class="" id="divPDF">

            <div class="row cl-grafico">
                <div class="col-md-12" style="margin-top: 10px;margin-right: -5px !important;">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title text-left"></h3>
                            <h3 class="card-title text-left table-header-title" style="font-weight: bold;">PAGAMENTOS
                                ARTIGO 81
                                <span></span>
                            </h3>
                        </div>
                        <div class="card-header text-left">
                            <span class="card-title">Aqui estão apresentados os valores consolidados por exercício (ano)
                                de pagamentos em modalidade “Artigo 81”. Esse artigo faz parte do Regulamento de
                                Licitações e Contratos da Caixa (RLCC) e determina a obrigatoriedade de pagamento de bens
                                e serviços sem a existência de termo contratual vigente.<br/><br/>
                                “A CAIXA indenizará a contratada pelo que esta houver executado, mesmo em casos de
                                ausência do contrato formal, nulidade ou extrapolação de prazo ou de valor contratado.<br/><br/>
                                Parágrafo Único - Está sujeito à apuração de responsabilidade o empregado que agir de
                                forma dolosa ou culposa para a ocorrência das situações dispostas no caput, cabendo à
                                autoridade competente analisar a existência de elementos mínimos de autoria e
                                materialidade para envio à unidade responsável pela apuração”.
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-grafico-artigo id="app-grafico-artigo" class="divGrafico">
                                    </app-grafico-artigo>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center" style="padding-bottom: 40px;">
                            <span class="card-title" style="font-weight: bold;">Para Consultar o detalhamento de cada
                                exercício com cada pagamento realizado, clique sobre o ANO.
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
