<div class="content">
  <div *ngIf="this.ultimaAtualizacao">
    <p class="card-title date-info" style="margin-top: -40px !important;">
      <b>Atualizado em: {{ this.ultimaAtualizacao }}</b>
    </p>
  </div>
  <div class="card">
    <mat-tab-group (selectedIndexChange)="exibeDetalhes($event)">
      <mat-tab *ngFor="let tab of tabs" label="{{ tab }}">
        <div *ngIf="tab == 'Execução Contratual'" class="general-layout">
          <iframe src="https://novobi.caixa/ReportsPBI/powerbi/Relat%C3%B3rios%20P%C3%BAblicos/5814%20%E2%80%93%20VITEC/5018%20-%20SUGTI/SUGTI02/PUBLICADO/PORTAL/Contratos_v1_sc?rs:embed=true" width="100%" height="600" style="border: none;" allowfullscreen></iframe>
        </div>
        <div *ngIf="tab == 'Orçamento'" class="general-layout">
          <iframe src="https://novobi.caixa/ReportsPBI/powerbi/Relat%C3%B3rios%20P%C3%BAblicos/5814%20%E2%80%93%20VITEC/5018%20-%20SUGTI/SUGTI02/PUBLICADO/PORTAL/Orcamento_v1_sc?rs:embed=true" width="100%" height="600" style="border: none;" allowfullscreen></iframe>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>