<div class="content">
  <div>
    <button
      type="button"
      class="btn-sm btn-secondary no-print"
      routerLink="/planejamento-orcamentario-novo"
      mat-raised-button
    >
      Voltar
    </button>

  </div>

  <div class="card">
    <mat-tab-group>
      <mat-tab label="Contrato">
        <p class="c-p">
          Planejamento Orçamentário - Exercício
          <span style="color: black; font-weight: 700">{{ anoExercicio }}</span>
          - {{ ordemTipoExercicio }} -
          <span style="color: #005CA9">{{ statusExercio }}</span>
        </p>

        <div style="margin: 14px;">
          <table
            border="1"
            width="100%"
            style="text-align: center; border-color: rgb(231, 231, 231)"
            *ngFor="let item of dadosDashboard"
          >
            <tr>
              <th colspan="5">{{ item.noRubricaTipo }}</th>
            </tr>

            <tr style="background-color: rgb(245, 245, 245)">
              <td style="font-weight: bold">
                Planejado
                <p
                  [ngStyle]="{
                    color: item.noRubricaTipo === 'CAPEX' ? 'blue' : 'orange',
                    'font-weight': 'bold',
                  }"
                >
                  {{ item.vrSolicitado | currency: "BRL" }}
                </p>
              </td>

              <td style="font-weight: bold">
                Limite
                <p
                  [ngStyle]="{
                    color: item.noRubricaTipo === 'CAPEX' ? 'blue' : 'orange',
                    'font-weight': 'bold',
                  }"
                >
                  {{ item.vrLimite | currency: "BRL" }}
                </p>
              </td>

              <td style="font-weight: bold">
                Diferença
                <p
                  [ngStyle]="{
                    color: item.noRubricaTipo === 'CAPEX' ? 'blue' : 'orange',
                    'font-weight': 'bold',
                  }"
                >
                  {{ item.vrDiferenca | currency: "BRL" }}
                </p>
              </td>

              <td style="font-weight: bold">
                Executado
                <p
                  [ngStyle]="{
                    color: item.noRubricaTipo === 'CAPEX' ? 'blue' : 'orange',
                    'font-weight': 'bold',
                  }"
                >
                  {{ item.vrExecutado | currency: "BRL" }}
                </p>
              </td>

              <td style="font-weight: bold">
                %ExL
                <p
                  [ngStyle]="{
                    color: item.noRubricaTipo === 'CAPEX' ? 'blue' : 'orange',
                    'font-weight': 'bold',
                  }"
                >
                  {{ item.pcEp | number: "1.2-2" }}%
                </p>
              </td>
            </tr>
          </table>
        </div>

        <!--  TABELA 2 REGISTROS -->

        <div class="row">
          <div class="col-12">
            <p-table
              id="table-contrato"
              #dt
              [value]="planejamentos.contratos"
              dataKey="id"
              styleClass="p-datatable-customers"
              [totalRecords]="planejamentos.totalRegistros"
              [lazy]="true"
              [rowHover]="true"
              [showCurrentPageReport]="true"
              [loading]="loading"
              [filterDelay]="0"
              (onLazyLoad)="loadPage($event)"
              [paginator]="true"
              [rows]="filtroRegistros.tamanhoPagina"
              [rowsPerPageOptions]="[10, 20, 50, planejamentos.totalRegistros]"
              currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            >
              <ng-template pTemplate="caption">
                <div class="c-menu">
                  <div class="pl-1 pr-1">
                    <p-button
                      label="Ações"
                      icon="pi pi-list"
                      class="acoes-btn"
                      (onClick)="acoesMenu.toggle($event)"
                    ></p-button>

                    <p-menu
                      #acoesMenu
                      [popup]="true"
                      [model]="items"
                      appendTo="body"
                      [baseZIndex]="1100"
                    ></p-menu>
                  </div>

                  <div class="pl-1 pr-1">
                    <p-dropdown
                      [options]="planejamentos.listaDiretoria"
                      [filter]="true"
                      (onChange)="updateRelatorio($event.value, 7)"
                      [showClear]="true"
                      placeholder="DE"
                      emptyFilterMessage="Sem registros"
                      emptyMessage="Sem registros"
                    ></p-dropdown>
                  </div>
                  <div class="pl-1 pr-1">
                    <p-dropdown
                      [options]="planejamentos.listaSuperintendencia"
                      [filter]="true"
                      (onChange)="updateRelatorio($event.value, 8)"
                      [showClear]="true"
                      placeholder="SN"
                      emptyFilterMessage="Sem registros"
                      emptyMessage="Sem registros"
                    ></p-dropdown>
                  </div>

                   <div class="pl-1 pr-1">
                    <p-dropdown
                      [options]="planejamentos.listaUnidadeDemandante"
                      [filter]="true"
                      (onChange)="updateRelatorio($event.value, 2)"
                      [showClear]="true"
                      placeholder="GN"
                      emptyFilterMessage="Sem registros"
                      emptyMessage="Sem registros"
                    ></p-dropdown>
                  </div>

                  <div class="pl-1 pr-1">
                    <p-dropdown
                      [options]="planejamentos.listaNuOrc"
                      [filter]="true"
                      (onChange)="updateRelatorio($event.value, 1)"
                      [showClear]="true"
                      placeholder="NUORC"
                      emptyFilterMessage="Sem registros"
                      emptyMessage="Sem registros"
                    ></p-dropdown>
                  </div>

                  <div class="pl-1 pr-1">
                    <p-dropdown
                      [options]="planejamentos.listaContrato"
                      [filter]="true"
                      (onChange)="updateRelatorio($event.value, 3)"
                      [showClear]="true"
                      placeholder="Contrato"
                      emptyFilterMessage="Sem registros"
                      emptyMessage="Sem registros"
                    ></p-dropdown>
                  </div>
                  <div class="pl-1 pr-1">
                    <p-dropdown
                      [options]="planejamentos.listaTipo"
                      [filter]="true"
                      (onChange)="updateRelatorio($event.value, 4)"
                      [showClear]="true"
                      placeholder="Tipo"
                      emptyFilterMessage="Sem registros"
                      emptyMessage="Sem registros"
                    ></p-dropdown>
                  </div>

                  <div class="pl-1 pr-1">
                    <p-dropdown
                      class="objet-dropdown"
                      [options]="planejamentos.listaDigital"
                      [filter]="true"
                      (onChange)="updateRelatorio($event.value, 6)"
                      [showClear]="true"
                      placeholder="Digital"
                      emptyFilterMessage="Sem registros"
                      emptyMessage="Sem registros"
                    ></p-dropdown>
                  </div>

                  <div class="pl-1 pr-1">
                    <p-dropdown
                      [options]="planejamentos.listaStatus"
                      [filter]="true"
                      (onChange)="updateRelatorio($event.value, 5)"
                      [showClear]="true"
                      placeholder="Status"
                      emptyFilterMessage="Sem registros"
                      emptyMessage="Sem registros"
                    ></p-dropdown>
                  </div>
                  <!-- <div class="pl-1 pr-1">
                    <p-dropdown
                      class="objet-dropdown"
                      [options]="planejamentos.listaObjeto"
                      [filter]="true"
                      (onChange)="updateRelatorio($event.value, 6)"
                      [showClear]="true"
                      placeholder="Objeto"
                      emptyFilterMessage="Sem registros"
                      emptyMessage="Sem registros"
                    ></p-dropdown>
                  </div> -->



                  <div
                    class="pl-1 pr-1 me-3"
                    *ngIf="
                      selectStatusPlanejamentoCompleto?.length > 0 &&
                      IsHabilitarSalvarStatusEmLote()
                    "
                  >
                    <button
                      type="button"
                      class="btn-sm btn-add btn-save-status"
                      (click)="onSalvarMudancasStatus()"
                      title="Salvar alterações de status"
                    >
                      Salvar status
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>
                    <div class="p-d-flex p-jc-between text-center">NUORC</div>
                  </th>

                  <th>
                    <div class="p-d-flex p-jc-between text-center">DE</div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between text-center">SN</div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between text-center">GN</div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between text-center">
                      Contrato
                    </div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between text-center">Objeto</div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between text-center">Tipo</div>
                  </th>
                  <th>



                    <ng-container>
                      <div class="c-dropdown-status">
                        <p-checkbox
                         *ngIf="
                        selectStatusPlanejamentoCompleto?.length > 0 &&
                        podeCadastrar()"

                          [(ngModel)]="selecionarTodos"
                          (onChange)="selecionarTodosItens()"
                          [binary]="true"
                        >
                        </p-checkbox>
                        <p-dropdown
                          [showClear]="true"
                          [options]="selectStatusPlanejamentoCompleto"
                          [(ngModel)]="statusSelecionados[0]"
                          placeholder="Status"
                          optionLabel="label"
                          optionValue="value"
                        >
                        </p-dropdown>
                      </div>
                    </ng-container>
                  </th>
                    <th>
                    <div class="p-d-flex p-jc-between text-center">Valor Original (GEGAT)</div>
                  </th>

                    <th>
                    <div class="p-d-flex p-jc-between text-center">Valor em Revisão (GESTOR)</div>
                  </th>

                  <!-- <th>
                    <div class="p-d-flex p-jc-between text-center"> Diferença GESTOR-GEGAT</div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between text-center">%DIF</div>
                  </th> -->
                  <th>
                    <div class="p-d-flex p-jc-between text-center">Valor Final (GEORC)</div>
                  </th>

                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-planejamento>
                <tr class="p-selectable-row"
                        (click)="
                    openModalEditPlanejamento(
                      'consultar',
                      false,
                      false,
                      planejamento
                    )
                  "
                >


                  <td style="text-align: center">
                    <span class="p-column-title">Código</span>
                    {{ planejamento.nuOrc }}
                  </td>

                  <td style="text-align: center">
                    <span class="p-column-title">UD</span>
                    {{ planejamento.sgDiretoria === null ? "-" : planejamento.sgDiretoria }}
                  </td>
                  <td style="text-align: center">
                    <span class="p-column-title">UD</span>
                     {{ planejamento.sgSuperintendencia === null ? "-" : planejamento.sgSuperintendencia }}
                  </td>
                  <td style="text-align: center">
                    <span class="p-column-title">UD</span>
                    {{ planejamento.sgFilial }}
                  </td>
                  <td style="text-align: center">
                    <span class="p-column-title">Contrato</span>
                    {{ planejamento.coContrato }}
                  </td>
                  <td style="width: 40%">
                    <span class="p-column-title">Objeto</span>
                    {{ planejamento.noObjeto }}
                  </td>
                  <td>
                    <span class="p-column-title">Tipo</span>
                    {{ planejamento.deDemanda }}
                  </td>
                  <td
                    class="col-status"
                    style="text-align: center"
                    (click)="$event.stopPropagation()"
                    (dblclick)="$event.stopPropagation()"
                    (keydown.enter)="$event.stopPropagation()"
                    (keydown.space)="$event.stopPropagation()"
                  >
                    <div class="cef-status-em-lote" style="text-align: center;">
                      <ng-container
                        *ngIf="
                          selectStatusPlanejamentoCompleto?.length > 0 &&
                          podeAlterarStatusEmLote(planejamento)
                        "
                      >
                        <p-checkbox
                          [(ngModel)]="planejamento.stSelecionado"
                          [binary]="true"
                          (click)="$event.stopPropagation()"
                        >
                        </p-checkbox>
                      </ng-container>
                      <label>{{ planejamento.noStatus }}</label>
                    </div>
                  </td>
                  <td style="text-align: center">
                    <span class="p-column-title"></span>
                    {{ (planejamento.vrGegat == null || planejamento.vrGegat == 0) ? "-" : (planejamento.vrGegat | currency: "BRL") }}
                  </td>

                  <td style="text-align: center">
                    <span class="p-column-title"></span>
                    {{ (planejamento.vrPlanejamento == null || planejamento.vrPlanejamento === 0) ? "-" : (planejamento.vrPlanejamento | currency: "BRL") }}
                  </td>

                  <!-- <td style="text-align: left">
                    <span class="p-column-title"></span>
                    {{ planejamento.vrDiferenca || 0 | currency: "BRL" }}
                  </td>

                  <td style="text-align: left">
                    <span class="p-column-title"></span>
                    {{ planejamento.pcDiferenca || 0 | number: "1.2-2" }}%
                  </td> -->
                  <td style="text-align: center">
                    <span class="p-column-title"></span>
                    {{ (planejamento.vrGeorc == null || planejamento.vrGeorc === 0) ? "-" : (planejamento.vrGeorc | currency: "BRL" )}}
                  </td>



                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="9">Nenhum planejamento cadastrado.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </mat-tab>

      <!-- <mat-tab label="Rubrica">
        <app-planejamento-aba-rubrica
          [nuPlanejamento]="nuPlanejamentoExercicio"
          [anoExercio]="anoExercicio"
          [tipoExercicio]="ordemTipoExercicio"
        ></app-planejamento-aba-rubrica>
      </mat-tab> -->
    </mat-tab-group>
  </div>
</div>
